<!doctype html>

{% load staticfiles %}
{% load shared_blocks %}

<html>
  <head>

    {% block stylesheet_registering %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'secom/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'js/ladda/dist/ladda-themeless.min.css' %}" type="text/css" />
    {% endblock stylesheet_registering %}

    {% block script_registering %}
    <script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery-validation/dist/jquery.validate.js' %}"></script>
    <script src="{% static 'js/ladda/dist/spin.min.js' %}"></script>
    <script src="{% static 'js/ladda/dist/ladda.min.js' %}"></script>
    <script src="{% static 'js/ladda/dist/ladda.jquery.min.js' %}"></script>
    <script src="{% static 'js/blockui/jquery.blockUI.js' %}"></script>
    {% endblock %}

    <title>Nhập số serial</title>
  </head>
  <body>
    <form>
      {% csrf_token %}
      <br/>
      <br/>
      <label for="product">Sản phẩm</label>
      <select name="product">
        {% for product in products %}
        <option value="{{ product.id }}">{{ product.display_name }}</option>
        {% endfor%}
      </select>
      <br/>
      <br/>
      <br/>
      <label for="keys">Mã <span style="font-size: 11pt; font-style: italic;">(nhập nhiều mã cùng lúc, mỗi mã trên một hàng)</span></label>
      <textarea name="keys" required style="width: 100%; height: 300px;"></textarea>
      <br/>
      <br/>
      <label id="error-message" class="error">&nbsp;</label>
      <br/>
      <button class="ladda-button" data-style="expand-left" >
        <span>lưu mã</span>
      </button>
    </form>
    <div id="error-codes" style="width:800px; margin: 0 auto;">
      <br/>
      <hr/>
      <h1>Mã bị lỗi</h1>
      <table></table>
    </div>
    <script>
		$(function() {
			$('#error-message').text('').hide();
			$('#error-codes').hide();

			var show_error = function(message) {
				$('#error-message').html(message).show();
			};

			$('.ladda-button').ladda().click(function() {
				$('#error-message').text('').hide();
				$('#error-codes').hide();
				$('#error-codes table').html('');
				var _this = this;
				$(_this.form).validate({
					submitHandler : function() {
						$.ajax({
							cache : false,
							url : '{% url "import.keys" %}',
							data : $(_this.form).serialize(),
							type : 'POST',
							beforeSend : function(xhr) {
								$(_this).ladda('start').find("> span:first-child").text('đang lưu mã');
								$(_this).toggleClass('gray');
								$.blockUI({
									message : null,
									overlayCSS : {
										opacity : 0.1
									}
								});
							},
							success : function(result, status, xhr) {
								console.log(result);
								if ( typeof result.status != 'undefined') {
									if (result.status == 'NOK' && typeof result.error != 'undefined') {
										show_error(result.error);
									} else if (result.status == 'OK') {
										show_error('Đã nhập <span class="money" style="margin-right:0;">' + result.total_codes + '</span> mã vào hệ thống');
										$('#error-message').css('color', '#004600');
										if (result.not_saved_codes instanceof Array && result.not_saved_codes.length > 0) {
											for ( i = 0; i < result.not_saved_codes.length; i++) {
												$('#error-codes table').append('<tr><td style="width: 200px;" class="money">' + result.not_saved_codes[i].code + '</td><td>' + result.not_saved_codes[i].error + '</td></tr>');
											}
											$("#error-codes").show();
										}
									} else {
										show_error('Hệ thống trả về kết quả không như mong đợi');
									}
								} else {
									show_error('Hệ thống không trả về kết quả nào');
								}
							},
							error : function(xhr, status, error) {
								show_error(xhr.status + '-' + error);
							},
							complete : function(xhr, status) {
								$(_this).ladda('stop').find("> span:first-child").text('nhập mã');
								$(_this).toggleClass('gray');
								$.unblockUI();
							}
						});
					}
				});
			});
		});
    </script>
  </body>
</html>
