<!doctype html>

{% load staticfiles %}
{% load shared_blocks %}
{% load compress %}

<html>
	<head prefix="og: http://ogp.me/ns">
		<meta name="google-site-verification" content="PChOHVs4vskDe5yGntAXFGfR8OhJOoDZ4GLv7X3x2uI" />
		{% block fb_meta %}
		{% if fb_og %}
		<meta property="og:title" content="{{ fb_og.title }}"/>
		<meta property="og:image" content="{{ fb_og.image }}"/>
		<meta property="og:site_name" content="{{ fb_og.site_name }}"/>
		<meta property="og:description" content="{{ fb_og.description }}"/>
		{% endif %}
		{% endblock%}

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'secom/img/favicon.ico' %}?v=10"/>
		<link rel="icon" type="image/x-icon" href="{% static 'secom/img/favicon.ico' %}?v=10">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/redmond/jquery-ui.min.css" />

		<link rel="stylesheet" href="{% static 'js/magnific-popup/dist/magnific-popup.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'js/ladda/dist/ladda-themeless.min.css' %}" type="text/css" />

		{% block head_stylesheet_registering %}
		{% endblock %}

		{% compress css %}
		<link rel="stylesheet" href="{% static 'secom/style.css' %}" type="text/css" />
		{% endcompress %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		{% block head_script_registering %}
		{% endblock %}

		<title>{% block title %}Phần mềm giáo dục số 1 Việt Nam - Tiếng Anh, Hóa Học, Vật Lý, Toán, Đại Số, Hình Học, Số Học, Mầm Non, Tiểu Học, Trung Học, Mọi lứa tuổi{% endblock %}</title>
	</head>
	<body lang="vi">
		<div id="fb-root"></div>

		{% if enable_popup_cart %}
		<div id="cart-button" class="right-item" data-mfp-src="#cart-popup">
			<img width="32" height="32" src="{% static 'secom/img/main-cart.png' %}" alt="Xem giỏ hàng" />
			<span class="simpleCart_quantity">0</span>
		</div>
		{% endif %}

		{% comment %}
		<div id="profile-button" class="right-item slide-button" data-content-length="120">
			<img width="32" height="32" src="{% static 'secom/img/main-profile.png' %}" alt="Thông tin cá nhân" />
			{% if welcome %}
			<span>{{ welcome }}</span>
			{% else %}
			<span>Chưa đăng nhập</span>
			{% endif %}
		</div>
		{% endcomment %}

		<div id="call-button" class="right-item slide-button" data-content-length="90"  itemscope itemtype="http://schema.org/Organization">
			<img width="32" height="32" src="{% static 'secom/img/call.png' %}" alt="Gọi hotline" />
			<span itemprop="telephone">0902 788 086</span>
			<br/>
			<span>(8:00 - 21:00)</span>
		</div>

		<div id="email-button" class="right-item slide-button" data-content-length="90">
			<img width="32" height="32" src="{% static 'secom/img/email.png' %}" alt="Liên hệ"/>
			<span>Liên hệ</span>
		</div>

		<div style="position:fixed;" class="fb-like" data-href="http://phanmemhoctap.vn" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true" data-colorscheme="light"></div>

		{% if enable_popup_cart %}
		<div id="cart-popup" class="popup mfp-hide">
			{% section_title 'Giỏ hàng của bạn' request.is_IE 'right' 'blue' %}
			<div id="cart-content">
				<span id="message">&nbsp;</span>
				<div class="simpleCart_items">
					&nbsp;
				</div>
				<div id="total-container">
					<span>THÀNH TIỀN:</span><span class="simpleCart_total">&nbsp;</span>
				</div>
				<div id="buttons">
					<form>
						{%csrf_token%}
					</form>
					<button id="cart-checkout" class="ladda-button" data-style="expand-left" data-loading-text="đang tạo đơn hàng">
						<span>thanh toán</span>
					</button>
					<button class="simpleCart_empty gray">
						hủy giỏ hàng
					</button>
					<p id="continue">
						<a href="javascript:$.magnificPopup.close();">Tiếp tục mua hàng</a>
					</p>
				</div>
			</div>
			<div id="empty-cart">
				<span> Chưa có sản phẩm nào! </span>
			</div>
			<hr/>
			<p id="help">
				<span><strong>Trợ giúp:</strong></span>
				<a target="_blank" href="{% url "news.detail" "huong-dan-mua-hang" %}">Hướng dẫn mua hàng</a>
				<a target="_blank" href="{% url "faqs" "" %}">Câu hỏi thường gặp</a>
				<span class="hint">(Mọi thắc mắc vui lòng liên hệ hotline: <a href="tel:+84902788086">0902 788 086</a>)</span>
			</p>
		</div>
		{% endif %}

		{% block header %}
		<header class="small-header">
			<div class="content">
				<div class="user-profile">
					{% if welcome %}
					{{ welcome }} / <a href="{% url "customer.logout" %}?return={% url "home" %}">Thoát</a>
					{% else %}
					<a href="{% url "customer" %}">Đăng nhập</a> / <a href="{% url "customer" %}">Đăng ký</a>
					{% endif %}
				</div>
				<nav>
					{% for n in top_nav %}
					<a id="nav-{{ n.id }}" href="{{ n.url }}" title="{{ n.tooltip }}">{{n.title}}</a>
					{% endfor%}
				</nav>
				<div class="logo">
					<img width="339" height="69" src="{% static 'secom/img/logo.png' %}"/>
				</div>
				{% slide_content hot_contents 'small-' %}
			</div>
		</header>
		{% endblock %}

		<div class="main">

			{% block main_content %}
			{% endblock %}

		</div>

		{% footer %}

		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="{% static 'js/jquery-validation/dist/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/simplecart-js/simpleCart.min.js' %}"></script>
		{% compress js %}
		<script src="{% static 'js/ladda/dist/spin.min.js' %}"></script>
		<script src="{% static 'js/ladda/dist/ladda.min.js' %}"></script>
		<script src="{% static 'js/ladda/dist/ladda.jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollTo/jquery.scrollTo.min.js' %}" ></script>
		<script src="{% static 'js/jquery-cookie/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/blockui/jquery.blockUI.js' %}"></script>
		<script src="{% static 'myjs/common.js' %}"></script>
		{% endcompress %}

		{% block defer_script_registering %}
		{% endblock %}

		{% compress js inline %}
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] ||
				function() {
					(i[r].q = i[r].q || []).push(arguments);
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m);
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-40901942-14', 'phanmemhoctap.vn');
			ga('send', 'pageview');
		</script>

		{% block slide_content_script %}
		<script>
			$(function() {
				$('.small-hot-slide').make_slideshow(580, 120);
			});
		</script>
		{% endblock %}

		<script>
			$(function() {
				$('#main').tooltip({
					track : true
				});

				setupCart("{% static '' %}");

				{% if enable_popup_cart %}

				$('#cart-checkout').ladda().click(function() {
					var _this = $(this);
					_this.ladda('start');
					_this.find("> span:first-child").text(_this.data('loading-text'));
					_this.find(".ladda-spinner").css('margin-top', '-41px');
					_this.toggleClass('gray');
					$.blockUI({
						message : null,
						overlayCSS : {
							opacity : 0.1,
							'z-index' : 2000
						}
					});
					simpleCart.checkout();
				});

				$('#cart-button').magnificPopup({
					type : 'inline',
					removalDelay : 300,
					mainClass : 'mfp-zoom-in',
					closeMarkup : '<img class="mfp-close" alt="Đóng cửa sổ giỏ hàng" src="{% static "secom/img/close.png" %}"/>',
					enableEscapeKey : false,
				});
				{% endif %}

				{% if clear_local_cart %}
				simpleCart.empty();
				{% endif%}

				$('.slide-button').data('animating', false).data('opened', false).hover(function() {
					var t = $(this);
					var distance = t.data('content-length');
					if (t.data('animating') == false && t.data('opened') == false) {
						t.data('animating', true).animate({
							right : "+=" + distance,
						}, 'fast', function() {
							t.data('animating', false).data('opened', true);
							setTimeout(function() {
								if (t.data('animating') == false && t.data('opened') == true) {
									t.data('animating', true).animate({
										right : "-=" + distance,
									}, 'fast', function() {
										t.data('animating', false).data('opened', false);
									});
								}
							}, 4000);
						});
					}
				}, function() {
					var t = $(this);
					var distance = t.data('content-length');
					if (t.data('animating') == false && t.data('opened') == true) {
						t.data('animating', true).animate({
							right : "-=" + distance,
						}, 'fast', function() {
							t.data('animating', false).data('opened', false);
						});
					}
				});

				$('#call-button').click(function() {
					document.location = "tel:+84902788086";
				});

				$('#email-button').click(function() {
					document.location = "{% url "contact" %}";
				});

				$('img.product-thumb').popup_slideshow();
			});
		</script>

		{% block startup_script %}
		{% endblock %}

		<script>
			window.$zopim || (function(d, s) {
				var z = $zopim = function(c) {
					z._.push(c)
				}, $ = z.s = d.createElement(s), e = d.getElementsByTagName(s)[0];
				z.set = function(o) {
					z.set._.push(o)
				};
				z._ = [];
				z.set._ = [];
				$.async = !0;
				$.setAttribute('charset', 'utf-8');
				$.src = '//v2.zopim.com/?2IH0dE9XRCVRIIsOh3DMV4dYKspPHhOl';
				z.t = +new Date;
				$.type = 'text/javascript';
				e.parentNode.insertBefore($, e)
			})(document, 'script');
		</script>

		<script>
			( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=767033153330463&version=v2.0";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		</script>

		{% endcompress %}

	</body>
</html>