{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}Đăng nhập hoặc đăng ký để thanh toán đơn hàng{% endblock %}

{% block main_content %}
<div id="checkout-content" class="content">
	<section id="checkout-cart">
		{% section_title 'Đơn hàng' request.is_IE 'left' %}
		<div class="simpleCart_items">
			&nbsp;
		</div>
		<div id="total-container">
			<span>TỔNG TIỀN:</span><span class="simpleCart_total">&nbsp;</span>
		</div>
		<div>
			<button class="gray" onclick="window.location.href='{% url "products" %}'">
				tiếp tục mua hàng
			</button>
		</div>
	</section>
	<section id="checkout-info">
		{% section_title 'Đăng nhập hoặc <span id="link_register">đăng ký</span> để thanh toán' request.is_IE 'right' %}
		<form method="post" class="customer">
			{% csrf_token %}
			<input type="hidden" name="login_type" value="login"/>
			<h2>Đã có tài khoản</h2>
			{% if login_error %}
			<p>
				<label class="error"> {{ login_error }} </label>
			</p>
			{% endif%}
			<p>
				<label for="email">E-mail(*)</label>
				<br/>
				<input required name="email" id="login_email" type="email" placeholder="phanmem@gmail.com" value="{{ login_email }}"/>
			</p>
			<p>
				<label for="password">Mật khẩu(*)</label>
				<br/>
				<input required name="password" id="login_password" type="password"/>
			</p>
			<p class="buttons">
				<button class="ladda-button" data-style="expand-left" data-loading-text="đang đăng nhập">
					<span>đăng nhập</span>
				</button>
			</p>
		</form>
		<form method="post" class="customer" id="register">
			{% csrf_token %}
			<input type="hidden" name="login_type" value="register"/>
			<br />
			<hr />
			<h2>Mới mua lần đầu</h2>
			{% if register_error %}
			<p>
				<label class="error"> {{ register_error|safe }} </label>
			</p>
			{% endif%}
			<p>
				<label for="email">E-mail(*)</label>
				<label class="description">(nhận hóa đơn và liên lạc khi có sự cố)</label>
				<br/>
				<input required name="email" id="reg_email" type="email" placeholder="phanmem@gmail.com" value="{{ register_email }}"/>
			</p>
			<p>
				<label for="name">Tên</label>
				<label class="description">(không bắt buộc)</label>
				<br/>
				<input name="name" id="reg_name" type="text" placeholder="Nguyễn Văn A" value="{{ register_name }}"/>
			</p>
			<p>
				<label for="password">Mật khẩu(*)</label>
				<br/>
				<input required name="password" id="reg_password" type="password"/>
			</p>
			<p class="buttons">
				<button class="ladda-button" data-style="expand-left" data-loading-text="đang đăng ký tài khoản">
					<span>tạo tài khoản</span>
				</button>
			</p>
		</form>
	</section>
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-customer").toggleClass("nav-active");

		$("#link_register").click(function() {
			$.scrollTo("#register", 300);
		});

		simpleCart({
			cartColumns : [{
				attr : 'quantity',
				label : false,
				view : function(item, column) {
					return '<b>' + item.quantity() + ' x </b>';
				}
			}, {
				attr : 'name',
				label : "Sản phẩm",
			}, {
				attr : "total",
				label : "Thành tiền",
				view : 'currency'
			}],
			ready : function() {
				if (simpleCart.total() == 0)
					document.location = '{% url "home" %}';
			}
		});

		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin",
				email : "vui lòng nhập e-mail hợp lệ",
			}
		});

		$(".ladda-button").ladda().click(function() {
			var _this = this;
			$(this.form).validate({
				submitHandler : function(form) {
					$(_this).ladda('start').find("> span:first-child").text($(_this).data('loading-text'));
					$(_this).toggleClass('gray');
					$(form).append($('<input type="hidden" name="itemCount" value="' + simpleCart.find({}).length + '"/>'));
					simpleCart.each(function(item, x) {
						var counter = x + 1;
						$(form).append($('<input type="hidden" name="item_id_' + counter + '" value="' + item.get('id') + '"/>'));
						$(form).append($('<input type="hidden" name="item_quantity_' + counter + '" value="' + item.quantity() + '"/>'));
					});
					form.submit();
					$.blockUI({
						message : null,
						overlayCSS : {
							opacity : 0.1
						}
					});
				}
			});
		});
	}); 
</script>

{% endblock %}

