{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}Liên hệ - Phần Mềm Học Tập{% endblock %}

{% block head_script_registering %}
<script src="//google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% endblock %}

{% block main_content %}

<div id="contact-new-question">
	{% section_title 'Liên hệ' request.is_IE 'right' 'blue' %}
	<p>
		<b> phanmemhoctap.vn rất hân hạnh được phục vụ quý khách! </b>
	</p>
	<p>
		Mọi thắc mắc hoặc góp ý, quý khách vui lòng điền vào biểu mẫu bên dưới.
	</p>
	<p>
		Để nhanh chóng có được câu trả lời, quý khách có thể tham khảo thêm trang <a href="{% url "faqs" name="" %}" style="color: #199cb7; font-weight: bold">NHỮNG CÂU HỎI THƯỜNG GẶP</a> của chúng tôi.
	</p>
	<form>
		{% csrf_token %}
		{{ form.as_p }}
		<br/>
		<label id="error-message" class="error">&nbsp;</label>
		<br/>
		<p class="buttons" style="margin-top: 10px">
			<button id="post-question" class="ladda-button" data-style="expand-left" data-loading-text="đang gửi câu hỏi">
				<span>gửi câu hỏi</span>
			</button>
		</p>
	</form>
	<hr/>
	<div itemscope itemtype="http://schema.org/Organization">
		<p>
			<h2>Văn Phòng <span itemprop="name">Công ty TNHH Phần Mềm Chính Nhân</span></h2>
		</p>
		<p>
			<b>Điện thoại:</b><a href="tel:+84902788086" style="color: #0072bc" itemprop="telephone"> 0902 788 086</a>
		</p>
		<p class="">
			<b>Email:</b><a href="mailto:support@thuynhanproductions.vn" style="color: #0072bc" itemprop="email">support@thuynhanproductions.vn</a>
		</p>
		<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<b>Địa chỉ:</b>
			<span itemprop="streetAddress">316 Lê Văn Sỹ, Phường 1, Quận Tân Bình, TP. Hồ Chí Minh</span>
		</p>
		<a href="http://maps.vietbando.com/maps/?t=1&st=0&sk=316+L%C3%AA+V%C4%83n+S%E1%BB%B9,+Ph%C6%B0%E1%BB%9Dng+1,+Qu%E1%BA%ADn+T%C3%A2n+B%C3%ACnh,+Th%C3%A0nh+Ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh&l=17&kv=10.7971175,106.665878" target="_blank"> <img alt="Bản đồ văn phòng công ty" src="http://s30.postimg.org/x2t8wmbe9/Screen_Shot_2014_06_27_at_11_25_53.png" style="margin-top: 10px; margin-bottom: 20px; width: 100%" /> </a>
	</div>

</div>

{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		setTimeout(function() {
			$('.faqs h2').trigger('click');
		}, 500);

		{% if selected %}
		$('#{{selected.name}}').trigger('click');
		{% endif %}

		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin",
				email : "vui lòng nhập e-mail hợp lệ",
			}
		});

		$('#error-message').text('').hide();

		var show_error = function(message) {
			$('#error-message').html(message).show();
		};

		$('#post-question').ladda().click(function() {
			$('#error-message').text('').hide();
			var _this = this;
			$(_this.form).validate({
				submitHandler : function() {
					$.ajax({
						cache : false,
						url : '{% url "question" %}',
						data : $(_this.form).serialize(),
						type : 'POST',
						beforeSend : function(xhr) {
							$(_this).ladda('start').find("> span:first-child").text('đang gửi câu hỏi');
							$(_this).toggleClass('gray');
							$.blockUI({
								message : null,
								overlayCSS : {
									opacity : 0.1
								}
							});
						},
						success : function(result, status, xhr) {
							if (result && result.status) {
								if (result.status == 'NOK' && result.error) {
									show_error(result.error);
								} else if (result.status == 'OK') {
									show_error('Câu hỏi của bạn đã được nhận, chúng tôi sẽ liên hệ lại sớm nhất có thể. Cảm ơn bạn!');
									$('#error-message').css('color', '#004600');
								} else {
									show_error('Có lỗi trong quá trình gửi câu hỏi. Vui lòng liên hệ hotline để được tư vấn!');
								}
							} else {
								show_error('Có lỗi trong quá trình gửi câu hỏi. Vui lòng liên hệ hotline để được tư vấn!');
							}
						},
						error : function(xhr, status, error) {
							show_error('Có lỗi ở máy chủ, không thể gửi câu hỏi vào lúc này. Bạn vui lòng thử lại sau!');
						},
						complete : function(xhr, status) {
							$(_this).ladda('stop').find("> span:first-child").text('gửi câu hỏi');
							$(_this).toggleClass('gray');
							$.unblockUI();
						}
					});
				}
			});
		});
	}); 
</script>

{% endblock %}