{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}Hỏi đáp - Phần Mềm Học Tập{% endblock %}

{% block head_script_registering %}
<script src="//google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% endblock %}

{% block main_content %}
<div class="content faqs">
  <div id="faqs">
    {% for f in faqs %}
    <h2 id="{{ f.name }}">{{ f.data.question }}</h2>
    <div class="answer">
      {{ f.description|safe }}
    </div>
    {% endfor %}
  </div>
  <div id="new-question">
    {% section_title 'Đặt câu hỏi' request.is_IE 'right' 'blue' %}
    <form>
      {% csrf_token %}
      {{ form.as_p }}
      <label id="error-message" class="error">&nbsp;</label>
      <p class="buttons">
        <button id="post-question" class="ladda-button" data-style="expand-left" data-loading-text="đang gửi câu hỏi">
          <span>gửi câu hỏi</span>
        </button>
      </p>
    </form>
  </div>
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-faqs").toggleClass("nav-active");
		$('.faqs h2').click(function() {
			$(this).next('.answer').scrollintoview({
				direction : 'y'
			}).slideToggle(300);
			$(this).toggleClass('close');
		});
		$('.answer').show();

		// setTimeout(function() {
			// $('.faqs h2').trigger('click');
		// }, 500);

		{% if selected %}
		$('#{{selected.name}}').trigger('click');
		{% endif %}

		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin",
				email : "vui lòng nhập e-mail hợp lệ",
			}
		});

		$('#error-message').text('').hide();

		var show_error = function(message) {
			$('#error-message').html(message).show();
		};

		$('#post-question').ladda().click(function() {
			$('#error-message').text('').hide();
			var _this = this;
			$(_this.form).validate({
				submitHandler : function() {
					$.ajax({
						cache : false,
						url : '{% url "question" %}',
						data : $(_this.form).serialize(),
						type : 'POST',
						beforeSend : function(xhr) {
							$(_this).ladda('start').find("> span:first-child").text('đang gửi câu hỏi');
							$(_this).toggleClass('gray');
							$.blockUI({
								message : null,
								overlayCSS : {
									opacity : 0.1
								}
							});
						},
						success : function(result, status, xhr) {
							if (result && result.status) {
								if (result.status == 'NOK' && result.error) {
									show_error(result.error);
								} else if (result.status == 'OK') {
									show_error('Câu hỏi của bạn đã được nhận, chúng tôi sẽ liên hệ lại sớm nhất có thể. Cảm ơn bạn!');
									$('#error-message').css('color', '#004600');
								} else {
									show_error('Có lỗi trong quá trình gửi câu hỏi. Vui lòng liên hệ hotline để được tư vấn!');
								}
							} else {
								show_error('Có lỗi trong quá trình gửi câu hỏi. Vui lòng liên hệ hotline để được tư vấn!');
							}
						},
						error : function(xhr, status, error) {
							show_error('Có lỗi ở máy chủ, không thể gửi câu hỏi vào lúc này. Bạn vui lòng thử lại sau!');
						},
						complete : function(xhr, status) {
							$(_this).ladda('stop').find("> span:first-child").text('gửi câu hỏi');
							$(_this).toggleClass('gray');
							$.unblockUI();
						}
					});
				}
			});
		});
	}); 
</script>

{% endblock %}

