{% load staticfiles %}

<footer>
	<div class="separator"></div>
	<div class="content">
		{% if footer %}
		{% for c in footer.columns %}
		<ul>
			<li>
				<strong>{{ c.groupname }}</strong>
			</li>
			{% for l in c.links %}
			<li>
				<a href="{{ l.link }}">{{ l.name }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
		{% if footer.company_info %}
		<ul id="buttons">
			<li>
				<a target="itunes" href="https://itunes.apple.com/us/artist/chinh-nguyen/id577345202"><img width="135" height="40" alt="Xem trên iTunes App Store" src="{% static 'secom/img/Download_on_the_App_Store_Badge_VN_135x40_0612.svg' %}"/></a>
			</li>
			<li>
				<a target="playstore" href="https://play.google.com/store/search?q=pub:phamthuynhan PRODUCTIONS"> <img width="135" height="47" alt="Xem trên Google Play Store" src="{% static 'secom/img/playstore.png' %}" /> </a>
			</li>
		</ul>
		{% endif %}
		<div style="position: relative; height: 60px; width: 100%; display: inline-block">
			<div class="fb-like"style="top: 15px" data-href="http://phanmemhoctap.vn" data-width="940px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
		<hr />
		<div id="other" itemscope itemtype="http://schema.org/Organization">
			<div>
				Bản quyền 2014 thuộc về <span itemprop="name">Công ty TNHH Phần Mềm Chính Nhân</span>
				<br/>
				Địa chỉ - 59 Bàu Cát 6, Phường 14, Quận Tân Bình, TP. Hồ Chí Minh, Việt Nam
				<br/>
				Giấy chứng nhận ĐKKD số 0312440976 do Sở KH&ĐT TP. Hồ Chí Minh cấp lần hai ngày 17/2/2014
			</div>
			<div style="clear:left;">
				<a target="_blank" href="http://www.online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=1881"><img alt="Đã đăng ký với Bộ Công Thương" style="border: 0px;" width="100" height="65" src="{% static 'secom/img/registered_with_goverment.png' %}"/></a>
			</div>
		</div>
		{% endif %}
		<div class="badges">
			<div>
				<a href="http://www.thuynhanproductions.vn" target="_blank"><img width="211" height="50" src="{% static 'secom/img/logo-tnp.png' %}" alt="phamthuynhan PRODUCTIONS Logo" /></a>
			</div>
			<div>
				hosted by <a href="http://truecloud.exa.vn" target="_blank">EXA trueCloud</a>
				<br />
				<a href="http://truecloud.exa.vn" target="_blank"> <img width="160" height="51" src="{% static 'secom/img/logo_exa.png' %}" alt="Exa TrueCloud Logo" style="border-radius: 10px; margin-top: 5px;";> </a>
			</div>
			<div>
				<a href="http://www.djangoproject.com" target="_blank"><img width="126" height="54" src="{% static 'secom/img/django_logo.png' %}" alt="Django Logo"/></a>
			</div>
		</div>
	</div>
</footer>
