{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block header %}
<header class="big-header">
	<div class="content">
		<div class="user-profile">
			{% if welcome %}
			{{ welcome }} / <a href="{% url "customer.logout" %}?return={% url "home"%}">Thoát</a>
			{% else %}
			<a href="{% url "customer" %}">Đăng nhập</a> / <a href="{% url "customer" %}">Đăng ký</a>
			{% endif %}
		</div>
		<nav>
			{% for n in top_nav %}
			<a id="nav-{{ n.id }}" href="{{ n.url }}" title="{{ n.tooltip }}">{{n.title}}</a>
			{% endfor%}
		</nav>
		<div class="logo">
			<img width="339" height="69" src="{% static 'secom/img/logo.png' %}" alt="educationSoft Logo"/>
		</div>
		{% slide_content hot_contents %}
	</div>
</header>
{% endblock %}

{% block main_content %}
<div id="home-content" class="content">
	<!-- Home -->
	<div>
		<div id="home-promotion">
			{% section_title 'Nên xem' request.is_IE 'left' %}
			<div>
				<article>
					<h1><a id="promotion-title" href="{{ hot_new.detail_url }}">{{ hot_new.data.display_name }}</a></h1>
					<a href="{{ hot_new.detail_url }}"><img src="{{ hot_new.data.hot_image }}" alt="{{ hot_new.data.image_description }}"/></a>
					{{ hot_new.description|safe }}
					<div>
						<a class="button small-button" href="{{ hot_new.detail_url }}"> xem thêm </a>
					</div>
				</article>
			</div>
		</div>
		<section id="home-center">
			{% section_title 'Sản phẩm nổi bật' request.is_IE 'right' 'red' 'search-container' %}
			{% for p in hot_products %}
			{% product_preview p %}
			{% endfor %}
		</section>
		<section id="home-news">
			{% section_title 'Bài viết mới' request.is_IE 'right' 'red' %}
			{% for post in latest_news %}
			{% post_preview post %}
			{% endfor %}
		</section>
	</div>
</div>

{% include 'secom/product_types.html' %}

{% endblock %}

{% block slide_content_script %}
<script>
	$(function() {
		$('.hot-slide').make_slideshow(1000, 410);
	}); 
</script>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-home").toggleClass("nav-active");
		$(".search-container").append($('<img data-mfp-src="#products-type" alt="Tìm sản phẩm" id="image" width="30" height="30" src="{% static "secom/img/search.png" %}"/>'));
		$(".search-container #image").magnificPopup({
			type : 'inline',
			removalDelay : 300,
			mainClass : 'mfp-zoom-in',
			closeMarkup : '<img class="mfp-close" alt="Đóng cửa sổ tìm kiếm" src="{% static "secom/img/close.png" %}"/>',
		});
	}); 
</script>

{% endblock %}

