{% if post %}

<article class="post-preview">
  <h1><a href="{{ post.detail_url }}">{{ post.data.display_name }}</a></h1>
  <p class="description">
    {{ post.data.short_description }}
  </p>
</article>

{% endif %}
