{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}{% if title %}{{ title }}{% else %}Tin tức khuyến mãi, hướng dẫn{% endif %} - Phần Mềm Học Tập{% endblock %}

{% block main_content %}
<div id="news-content" class="content">
  {% type_navigation post_nav active_post_nav request.is_IE %}
  <section id="news-list">
    {% for n in latest_news %}
    <article>
      <h1><a class="common" href="{{ n.detail_url }}">{{ n.display_name }}</a></h1>
      <h5>{{ n.created_time|date:"d/m/Y" }}</h5>
      {% if n.data.image %}
      <a href="{{ n.detail_url }}"><img src="{{ n.data.image }}" alt="{{ n.display_name }}"/></a>
      {% endif %}
      {{ n.description|safe }}
      <div class="news-view">
        <a href="{{ n.detail_url }}">xem thêm</a>
      </div>
    </article>
    <hr/>
    {% endfor %}
    {% if latest_news.paginator.num_pages > 1 %}
    <section class="pagination">
      <span class="step-links"> {% if latest_news.has_previous %} <a href="{{ previous_page }}">trước</a> &nbsp;|&nbsp; {% endif %} <span class="current"> trang {{ latest_news.number }} / {{ latest_news.paginator.num_pages }} </span> {% if latest_news.has_next %} &nbsp;|&nbsp; <a href="{{ next_page }}">sau</a> {% endif %} </span>
    </section>
    {% endif %}
  </section>
  <section id="news-focus">
    {% section_title 'Bài viết quan trọng' request.is_IE 'right' 'red' %}
    {% for post in important_posts %}
    {% post_preview post %}
    <hr/>
    {% endfor %}
  </section>
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-news").toggleClass("nav-active");

	}); 
</script>

{% endblock %}

