{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}{{ post.display_name }} - Phần Mềm Học Tập{% endblock %}

{% block head_stylesheet_registering %}
<link rel="stylesheet" href="{% static 'js/flexslider/flexslider.css' %}" type="text/css" />
{% endblock %}

{% block defer_script_registering %}
<script src="{% static 'js/flexslider/jquery.flexslider-min.js' %}"></script>
{% endblock %}

{% block main_content %}
<div id="post-content" class="content">
	{% type_navigation post_nav active_post_nav request.is_IE %}
	<section id="post-detail">
		<article>
			<h1>{{ post.display_name }}</h1>
			<h5>{{ post.created_time|date:"d/m/Y" }}</h5>
			{{ post.content|safe }}
		</article>
		{% if images %}
		<h2>Hình ảnh chương trình:</h2>
		<div class="flexslider">
			<ul class="slides">
				{% for i in images %}
				<li>
					<img src="{{ i.source }}" alt="{{ i.title }}"/>
					<div class="flex-caption">
						<p>
							{{ i.title }}
						</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		{% if trailer %}
		<h2>Video chương trình:</h2>
		<div>
			<object width="100%" height="450">
				<param name="movie" value="{{ trailer }}"/>
				<param name="allowFullScreen" value="true"/>
				<param name="allowScriptAccess" value="always"/>
				<embed id="ytplayer" src="{{ trailer }}"
				type="application/x-shockwave-flash"
				allowfullscreen="true"
				allowScriptAccess="always"
				width="100%"
				height="450"></embed>
			</object>
		</div>
		{% endif %}

		<br/>
		<h2>Nhận xét</h2>
		<div class="fb-comments" style="top: 0;" data-width="650px" data-href="{{ absolute_url }}" data-numposts="5" data-colorscheme="light"></div>
	</section>
	<section id="related-content">
		{% if related_products %}
		<section id="related-product">
			{% section_title 'Sản phẩm liên quan' request.is_IE 'right' 'red' %}
			<br/>
			{% for product in related_products %}
			{% product_preview product 'hor' %}
			<hr/>
			{% endfor %}
		</section>
		{% endif %}
		{% if related_posts %}
		<section id="related-post">
			{% section_title 'Bài viết liên quan' request.is_IE 'right' 'red' %}
			{% for post in related_posts %}
			{% post_preview post %}
			<hr/>
			{% endfor %}
		</section>
		{% endif %}
	</section>
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-news").toggleClass("nav-active");
		$('.flexslider').flexslider({
			slideshow : true,
			animation : "slide",
			slideshowSpeed : 5000,
			touch : true,
			video : true,
			before : function() {
				ytplayer = document.getElementById("ytplayer");
				if (ytplayer && ytplayer.pauseVideo != undefined)
					ytplayer.pauseVideo();
			},
		});
	}); 
</script>

{% endblock %}

