{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}{% if title %}{{ title }}{% else %}Đậu Lém, Học Cùng Bi, Ong Vàng, English Study Pro 2012{% endif %} - Phần Mềm Học Tập{% endblock %}

{% block main_content %}
<div id="products-content" class="content">
	{% type_navigation product_nav active_product_nav request.is_IE %}
	<!-- Home -->
	<div id="hot-product">
		<h2>{{ hot_product.data.display_name }}</h2>
		<h3>{{ hot_product.data.hot_sub_title}}</h3>
		<div id="thumb">
			<img src="{{ hot_product.data.hot_image }}" alt="{{ hot_product.data.image_description }}"/>
		</div>
		{{ hot_product.data.hot_description|safe }}
		<button>
			xem thêm
		</button>
	</div>
	<div id="products-center">
		{% if products_chunks %}
		<div>
			{% for chunk in products_chunks %}
			{% for p in chunk %}
			{% product_preview p %}
			{% endfor %}
			<hr/>
			{% endfor %}
		</div>
		{% if products.paginator.num_pages > 1 %}
		<div class="pagination">
			<span class="step-links"> {% if products.has_previous %} <a href="{{ previous_page }}">trước</a> &nbsp;|&nbsp; {% endif %} <span class="current"> trang {{ products.number }} / {{ products.paginator.num_pages }} </span> {% if products.has_next %} &nbsp;|&nbsp; <a href="{{ next_page }}">sau</a> {% endif %} </span>
		</div>
		{% endif %}
		{% else %}
		<div class="empty-suggestions" style="text-align: left;">
			<br/>
			<br/>
			<br/>
			<h1>Chưa có sản phẩm nào.</h1>
			<h4>Rất có thể bạn truy cập vào lúc chúng tôi đang cập nhật sản phẩm, bạn vui lòng QUAY LẠI sau!</h4>
			<h4>Hoặc có thể <a href="{% url "products" %}">tìm hiểu các sản phẩm và đặt hàng!</a></h4>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			{% section_title 'Mua nhanh' request.is_IE 'right' 'blue' %}
			<section class="empty-suggestions">
				{% for p in suggestions %}
				{% product_preview p %}
				{% endfor %}
			</section>
		</div>
		{% endif %}
	</div>
</div>

{% include 'secom/product_types.html' %}

{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-products").toggleClass("nav-active");

		var checked_tags = [{% for t in tags %}'{{ t|escapejs }}',{% endfor %}];
		$('input[name="tags"]').each(function() {
			if ($.inArray(this.value, checked_tags) >= 0) {
				this.checked = true;
			}
		});
		{% if products.paginator.num_pages <= 1 %}
		$("#products-center hr:last-child").hide();
		{% endif %}

		var searchImg = $('<img data-mfp-src="#products-type" id="image" alt="Tìm sản phẩm" width="30" height="30" src="{% static "secom/img/search.png" %}"/>');
		{% if request.is_IE %}
		var searchContainter = $("div.content-nav-inner");
		{% else %}
		var searchContainter = $("div.content-nav");
		{% endif%}
		searchContainter.toggleClass('search-container').append(searchImg);
		$(".search-container #image").magnificPopup({
			type : 'inline',
			removalDelay : 300,
			mainClass : 'mfp-zoom-in',
			closeMarkup : '<img class="mfp-close" alt="Đóng cửa sổ giỏ hàng" src="{% static "secom/img/close.png" %}"/>',
		});
	});
</script>

{% endblock %}

