{% load shared_blocks %}

<div id="products-type" class="popup mfp-hide">
	{% section_title 'Tìm sản phẩm' request.is_IE 'right' 'blue' %}
	{% for t in product_types %}
	<div class="column">
		<h2>{{ t.name }}</h2>
		<ul>
			{% for v in t.values %}
			<li>
				<input type="checkbox" name="tags" value="{{ v.value }}" id="check-{{v.value}}"/>
				<label for="check-{{v.value}}">{{v.name}}</label>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	<div class="view">
		<button onclick="submitWithTags(true)" class="gray">
			xem tất cả
		</button>
		<button onclick="submitWithTags(false)">
			xem sản phẩm
		</button>
	</div>
</div>
