{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}
{% load formatter %}

{% block title %}{{ product.data.display_name }} - Phần Mềm Học Tập{% endblock %}

{% block head_stylesheet_registering %}
<link rel="stylesheet" href="{% static 'js/flexslider/flexslider.css' %}" type="text/css" />
{% endblock head_stylesheet_registering %}

{% block defer_script_registering %}
<script src="{% static 'js/flexslider/jquery.flexslider-min.js' %}"></script>
{% endblock %}

{% block main_content %}
<div id="product-detail" class="content" itemscope itemtype="http://data-vocabulary.org/Product">
	{% type_navigation product_nav active_product_nav.id request.is_IE %}
	<meta itemprop="category" content="Software > Computer Software > Educational Software"/>
	<section id="left">
		<section id="brief">
			<article class="simpleCart_shelfItem">
				<span hidden class="item_id">{{ product.id }}</span>
				<span hidden class="item_link">{{ product.url}}</span>
				<span hidden class="item_thumb">{{ product.data.small_image }}</span>
				<span hidden class="item_description"> {{ product.data.short_description }} </span>
				<h2 itemprop="name" class="item_name">{{ product.data.display_name }}</h2>
				<h3>{{ product.data.slogan }}</h3>
				<p class="thumb">
					<img itemprop="image" class="thumb" src="{{ product.image }}" alt="{{ product.data.display_name }}" style="max-width: 100%"/>
				</p>
				<div class="buy" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
					<span itemprop="price" hidden class="item_price">{{ product.data.price }}</span>
					<meta itemprop="currency" content="VND" />
					<span> {{ product.data.price|format_price }}đ</span>
					<button class="item_add">
						<img alt="Mua sản phẩm này" width="19" height="16" alt="Giỏ hàng" src="{% static 'secom/img/cart.png' %}"/>
						mua hàng
					</button>
				</div>
			</article>
		</section>
		{% if suggestions %}
		<section id="suggestions">
			{% section_title 'Sản phẩm tương tự' request.is_IE 'left' 'red' %}
			<br/>
			{% for p in suggestions %}
			{% product_preview p 'hor' %}
			<hr/>
			{% endfor%}
		</section>
		{% endif %}
	</section>
	<section id="center">
		<p itemprop="description">
			{{ product.description|safe }}
		</p>

		{% if product.is_combo %}
		<h2>Bao gồm các sản phẩm sau:</h2>
		{% for sp in product.sub_products.all %}
		<div class="combo-product-detail">
			<div class="thumb">
				<img class="thumb" title="Click để xem hình" src="{{ sp.product.data.small_image }}" alt="{{ sp.product.data.display_name }}"/>
			</div>
			<div>
				<a href="{{ sp.product.url }}">{{ sp.product.data.display_name }}</a>
				<p class="product-description">
					{{ sp.product.data.short_description }}
				</p>
				<p class="price">
					{{ sp.product.data.price|format_price }}đ
				</p>
			</div>
		</div>
		<hr/>
		{% endfor %}
		{% endif %}

		{% if images %}
		<h2>Hình ảnh chương trình:</h2>
		<div class="flexslider">
			<ul class="slides">
				{% for i in images %}
				<li>
					<img src="{{ i.src }}" alt="{{ i.title }}"/>
					<div class="flex-caption">
						<p>
							{{ i.title }}
						</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		{% if trailer %}
		<h2>Video chương trình:</h2>
		<div>
			<object width="100%" height="450">
				<param name="movie" value="{{ trailer }}"/>
				<param name="allowFullScreen" value="true"/>
				<param name="allowScriptAccess" value="always"/>
				<embed id="ytplayer" src="{{ trailer }}"
				type="application/x-shockwave-flash"
				allowfullscreen="true"
				allowScriptAccess="always"
				width="100%"
				height="450"></embed>
			</object>
		</div>
		{% endif %}

		<h2>Nhận xét</h2>
		<div class="fb-comments" style="top: 0;" data-width="610px" data-href="{{ absolute_url }}" data-numposts="5" data-colorscheme="light"></div>

	</section>
</div>

{% include 'secom/product_types.html' %}

{% endblock %}

{% block startup_script %}
<script>
	$(function() {
		$("#nav-products").toggleClass("nav-active");
		$('.flexslider').flexslider({
			slideshow : true,
			animation : "slide",
			slideshowSpeed : 5000,
			touch : true,
			video : true,
			before : function() {
				ytplayer = document.getElementById("ytplayer");
				if (ytplayer && ytplayer.pauseVideo != undefined)
					ytplayer.pauseVideo();
			},
		});
		var searchImg = $('<img data-mfp-src="#products-type" alt="Tìm sản phẩm" id="image" width="30" height="30" src="{% static "secom/img/search.png" %}"/>');
		{% if request.is_IE %}
		var searchContainter = $("div.content-nav-inner");
		{% else %}
		var searchContainter = $("div.content-nav");
		{% endif%}
		searchContainter.toggleClass('search-container').append(searchImg);
		$(".search-container #image").magnificPopup({
			type : 'inline',
			removalDelay : 300,
			mainClass : 'mfp-zoom-in',
			closeMarkup : '<img class="mfp-close" alt="Đóng cửa sổ tìm sản phẩm" src="{% static "secom/img/close.png" %}"/>',
		});
	}); 
</script>
{% endblock %}

