{% if product %}

{% load staticfiles %}
{% load formatter %}

{% if type == 'ver' %}
<div class="product-box simpleCart_shelfItem">
	<article>
		<span hidden class="item_price">{{ product.data.price }}</span>
		<span hidden class="item_id">{{ product.id }}</span>
		<span hidden class="item_link">{{ product.url}}</span>
		<span hidden class="item_thumb">{{ product.data.small_image }}</span>
		<div class="product-thumb">
			<img class="product-thumb"
			alt="{{ product.data.display_name }}"
			src="{{ product.data.small_image }}"
			title="Click để xem hình"
			data-images='{{ product.data.gallery|jsonify|safe }}'
			data-trailer='{ "src" : "{{ product.data.trailer|safe }}", "type": "iframe"}'/>
		</div>
		<h1><a class="product-title item_name" href="{{ product.url }}">{{ product.data.display_name }}</a></h1>
		<p class="product-description item_description">
			{{ product.data.short_description }}
		</p>
		<div class="buy">
			<span> {{ product.data.price|format_price }}đ</span>
			<button class="item_add">
				<img alt="Mua sản phẩm này" width="19" height="16" src="{% static 'secom/img/cart.png' %}"/>
				mua hàng
			</button>
		</div>
	</article>
</div>
{% elif type == 'hor' %}
<article class="product-box-hor simpleCart_shelfItem">
	<span hidden class="item_price">{{ product.data.price }}</span>
	<span hidden class="item_id">{{ product.id }}</span>
	<span hidden class="item_link">{{ product.url}}</span>
	<span hidden class="item_thumb">{{ product.data.small_image }}</span>
	<div class="thumb">
		<img class="thumb"
		alt="{{ product.data.display_name }}"
		src="{{ product.data.small_image }}"
		title="Click để xem hình"
		data-images='{{ product.data.gallery|jsonify|safe }}'
		data-trailer='{ "src" : "{{ product.data.trailer|safe }}", "type": "iframe"}'/>
	</div>
	<div>
		<a class="item_name" href="{{ product.url }}">{{ product.data.display_name }}</a>
		<p class="product-description item_description">
			{{ product.data.short_description }}
		</p>
		<div class="buy">
			<span> {{ product.data.price|format_price }}đ</span>
			<button class="item_add">
				<img alt="Mua sản phẩm này" width="19" height="16" src="{% static 'secom/img/cart.png' %}"/>
				mua hàng
			</button>
		</div>
	</div>
</article>
{% endif %}

{% endif %}
