<!doctype html>

{% load staticfiles %}
{% load shared_blocks %}

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'js/magnific-popup/dist/magnific-popup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'js/jquery-ui/themes/redmond/jquery-ui.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'secom/style.css' %}" type="text/css" />

    <script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>

    <title>{% block title %}Phần mềm giáo dục số 1 Việt Nam{% endblock %}</title>
  </head>
  <body>
    {% product_preview product %}
  </body>
</html>