{% load staticfiles %}

{% if is_IE == True %}
<div class="section-title section-title-{{direction}} section-title-{{direction}}-{{ color }}">
  <div></div>
  <div></div>
  <div{% if extra_class %} class="{{ extra_class }}"{% endif %}>
    Tin khuyến mãi
  </div>
</div>
{% else %}
<p class="{{ h1_class }}">{{ title|safe }}</p>
{% endif %}

