<div class="{{ prefix }}hot-slide">
	{% for content in contents %}
	<div>
		<div class="hot-content">
			<h3> {{ content.type }} </h3>
			<h1> {{ content.title }} </h1>
			<h2> {{ content.sub_title }} </h2>
			{% if not prefix %}
			<p class="description">
				{{ content.description }}
			</p>
			{% endif %}
			<div class="view">
				<a href="{{ content.url }}"> {{ content.action }} </a>
			</div>
		</div>
		<div class="hot-image">
			<img src="{{ content.image }}" alt="{{ content.image_description }}"/>
		</div>
	</div>
	{% endfor %}
</div>