<div class="small-hot-slide">
  {% for content in contents %}
  <div>
    <div class="hot-content">
      <p class="type">
        {{ content.data.type }}
      </p>
      <p class="title">
        {{ content.data.title }}
      </p>
      <p class="subtitle">
        {{ content.data.sub_title }}
      </p>
      <div class="view">
        <a href="{{ content.data.url }}"> {{ content.data.action }} </a>
      </div>
    </div>
    <div class="hot-image">
      <img src="{{ content.data.small_image }}" alt="{{ content.data.image_description }}"/>
    </div>
  </div>
  {% endfor %}
</div>
