{% load formatter %}

{% if is_IE %}
<div class="content-nav content-nav-ie">
  <div></div>
  <div></div>
  <div class="content-nav-inner">
    <ul>
      <li class="first-nav">
        <a id="nav-{{ navigations.0.id }}" href="{{ navigations.0.url }}">
        <div>
          <div></div>
          <div>
            {{navigations.0.title}}
          </div>
        </div> </a>
      </li>
      {% for n in subnavigations %}
      <li>
        <a id="nav-{{ n.id }}" href="{{ n.url }}">{{n.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<div class="content-nav">
  <ul>
    {% for n in navigations %}
    <li>
      <a id="nav-{{ n.id }}" href="{{ n.url }}">{{n.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if active_item %}
<script>
	$(function() {
		$("#nav-{{ active_item }}").toggleClass("content-nav-active");
	}); 
</script>
{% endif %}
