{% extends "admin/change_list.html" %}
{% block object-tools-items %}

    <li>
        <a href="{% url 'import.keys' %}" class="grp-state-focus" class="addlink">Thêm mã kích hoạt</a>
    </li>

    {{ block.super }}

{% endblock %}