body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10.5pt;}

hr {
	border-top: 1px dotted #464646;
	color: transparent;
	background-color: transparent;
	size: 1px;
	width: 100%;
}

img {
	border-width: 0;
}

a.common {
	color: #0072bc;
	font-weight: bold;
	text-decoration: none;
}

a.common:hover {
	text-decoration: underline;
}

/* HEADER */

.big-header {
	margin: 0px auto;
	background: url(img/banner-bg.jpg) repeat-x center top;
	height: 520px;
	width: 100%;
}

.small-header {
	margin: 0px auto;
	background: url(img/banner-bg.jpg) repeat-x center -295px;
	height: 225px;
	width: 100%;
}

.content {
	width: 1000px;
	margin: 0 auto;
	color: #464646;
}

header div.logo {
	position: absolute;
	top: 123px;
	left: 30px;
}

header nav {
	float: right;
	margin-top: 40px;
	margin-right: 15px;
}

header nav a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	text-decoration: none;
	color: #ffffff;
	padding: 6px 20px;
	margin: 1px;
}

header nav a:hover, header nav a.nav-active {
	color: #4093ca;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #ffffff;
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 20%, rgb(222, 222, 222) 100%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 20%, rgb(222, 222, 222) 100%);
	background: -o-linear-gradient(90deg, rgb(255, 255, 255) 20%, rgb(222, 222, 222) 100%);
	background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 20%, rgb(222, 222, 222) 100%);
	background: linear-gradient(180deg, rgb(255, 255, 255) 20%, rgb(222, 222, 222) 100%);
}

.user-profile {
	position: absolute;
	top: 5px;
	right: 0px;
	font-size: 9pt;
	font-weight: bold;
	color: #464646;
}

.user-profile > a {
	font-weight: bold;
	color: #363636;
}

.user-profile > a:hover {
	text-decoration: none;
}

.fb-like {
	position: fixed;
	top: 40px;
	z-index: 1000;
}

.fb-in-page {
	position: relative;
	margin: 0px 0px 0px 0px;
	text-align: right;
}

.fb-in-page .fb-like {
	position: relative;
	top: 10px;
	right: 0px;
}

/* Right panel */

.right-panel {
	position: fixed;
	width: 150px;
	height: 171px;
	top: 40px;
	right: -10px;
	z-index: 11;
}

.right-item {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #ba0000;
	margin-bottom: 1px;
	min-width: 150px;
	height: 40px;
	position: fixed;
	top: 40px;
	right: -100px;
	z-index: 11;
}

.right-item:hover {
	margin-left: 88px;
}

.right-item:active {
	zoom: 105%;
}

.right-item img {
	position: absolute;
	max-width: 22%;
	top: 3px;
	left: 10px;
}

#cart-button img {
	top: 5px;
	left: 7px;
}

#cart-button span {
	color: #ffffff;
	background: rgba(21, 21, 255, 0.8);
	z-index: 20;
	position: absolute;
	left: 30px;
	top: 1px;
	padding: 2px;
	border-radius: 5px;
	font-weight: bold;
	width: 15px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.slide-button span {
	color: #ffffff;
	position: absolute;
	left: 50px;
	top: 7px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
}

#call-button > span:first-of-type {
	top: 1px;
	font-size: 12.5pt;
}

#call-button > span:last-of-type {
	top: 20px;
	left: 60px;
	font-size: 10pt;
	color: #eeeeee;
}


#call-button {
	top: 81px;
}

#email-button {
	top: 122px;
}

/* Facebook panel */

.FB-left-panel {
	position: fixed;
	width: 60px;
	height: 100px;
	top: 40px;
	left: 0px;
	z-index: 12;
}

/* Hot content slide */

header div.content {
	position: relative;
}

.hot-slide {
	position: absolute;
	top: 100px;
	left: 30px;
}

header .hot-slide .hot-content {
	margin-top: 120px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.1);
	width: 460px;
	height: 225px;
	float: left;
	padding: 10px 20px;
	position: relative;
	color: #ffffff;
}

header .hot-slide .hot-image {
	float: left;
	width: 400px;
	text-align: right;
	margin-left: 40px;
}

header .hot-slide .hot-content p {
	color: #ffffff;
	opacity: 0.9;
	margin: 8px 0px;
}

header .hot-slide .hot-content h1 {
	font-weight: bold;
	font-size: 22pt;
	opacity: 1;
	padding: 0;
	margin: 8px 0px;
}

header .hot-slide .hot-content h2 {
	font-weight: normal;
	font-size: 22pt;
	margin-top: -6px;
	padding: 0;
	margin: 8px 0px;
}

header .hot-slide .hot-content h3 {
	font-weight: normal;
	font-size: 12pt;
	margin: 8px 0px;
	padding: 0;
}

header .hot-slide .hot-content p.description {
	font-size: 11pt;
	margin-top: 15px;
}

header .hot-slide .hot-content .view {
	position: absolute;
	bottom: 20px;
	right: 10px;
}

header .hot-slide .hot-content .view a, a.button {
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	text-decoration: none;
	border-style: none;
	color: #ffffff;
	padding: 6px 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	height: 40px;
	line-height: 22px;
	border-radius: 10px;
	background: #f7941d;
	background: -moz-linear-gradient(bottom,  #f7941d 0%, #fdc689 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#f7941d), color-stop(100%,#fdc689));
	background: -webkit-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: -o-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: -ms-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: linear-gradient(to top,  #f7941d 0%,#fdc689 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#fdc689',GradientType=0 );
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

a.small-button {
	font-size: 11pt;
	color: #ffffff;
	height: 32px;
	line-height: 33px;
	padding: 1px 20px;
}

.hot-content .view a:hover, a.button:hover {
	color: #989898;
}

/* Small hot content slide */

header .small-hot-slide {
	position: absolute;
	top: 90px;
	left: 420px;
}

header .small-hot-slide .hot-content {
	margin-top: 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.1);
	width: 400px;
	height: 100px;
	float: left;
	padding: 5px 10px;
	position: relative;
}

header .small-hot-slide .hot-image {
	float: left;
	height: 120px;
	text-align: right;
	margin-top: 0px;
	margin-left: 20px;
}

header .small-hot-slide .hot-image img {
	width: auto;
	max-height: 100%;
}

header .small-hot-slide .hot-content p {
	color: #ffffff;
	opacity: 0.9;
	margin: 8px 0px;
}

header .small-hot-slide .hot-content h1 {
	color: #ffffff;
	font-size: 14pt;
	opacity: 1;
	padding: 0;
	margin: 8px 0px;
}

header .small-hot-slide .hot-content h2 {
	color: #ffffff;
	opacity: 0.9;
	font-weight: normal;
	font-size: 12pt;
	margin: 8px 0 0 0;
	padding: 0;
}

header .small-hot-slide .hot-content h3 {
	color: #ffffff;
	opacity: 0.9;
	font-weight: normal;
	font-size: 11pt;
	margin: 8px 0 0 0;
	padding: 0;
}

header .small-hot-slide .hot-content .view {
	position: absolute;
	bottom: 15px;
	right: 7px;
}

header .small-hot-slide .hot-content .view a {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	text-decoration: none;
	border-style: none;
	color: #ffffff;
	padding: 6px 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	height: 40px;
	line-height: 18px;
	border-radius: 6px;
	background: #f7941d;
	background: -moz-linear-gradient(bottom,  #f7941d 0%, #fdc689 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#f7941d), color-stop(100%,#fdc689));
	background: -webkit-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: -o-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: -ms-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: linear-gradient(to top,  #f7941d 0%,#fdc689 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#fdc689',GradientType=0 );
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

header .small-hot-slide .hot-content .view a:hover {
	color: #ffffff;
	opacity: 0.8;
}

/* CONTENT */

div.main {
	min-height: 400px;
}

/* FOOTER */

footer {
	clear: left;
	min-height: 200px;
	background-color: #376484;
	margin-top: 50px;
	color: #eeeeee;
}

footer a {
	color: #eeeeee;
	text-decoration: none;
	opacity: 0.8;
}

footer a:hover {
	text-decoration: underline;
}

footer ul {
	float: left;
	min-width: 160px;
	margin: 0 20px 0 0;
	padding: 0px;
}

footer li {
	list-style-type: none;
	margin: 5px 0px;
	color: #eeeeee;
	opacity: 0.8;
}

footer .separator {
	background: url(img/wave.jpg) repeat-x center top;
	width: 100%;
	height: 14px;
}

footer .content {
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 36px;
	height: 400px;
}

footer hr {
	clear: left;
	size: 1px;
	background-color: #eeeeee;
	opacity: 0.2;
	margin-top: 35px;
	margin-bottom: 10px;
}

footer #other {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.8;
	line-height: 23px;
	position: relative;
}

footer #other div:last-of-type {
	position: absolute;
	right: 200px;
	top: 0;
}

footer #other div:last-of-type:active {
	top: 1px;
}

footer #buttons {
	margin-left: 10px;
}

footer #buttons img {
	width: 135px;
	border: 0;
}

footer #buttons a {
	opacity: 1.0;
	border: 0;
}

footer #buttons a:hover {
	opacity: 0.8;
}

footer #buttons a:active {
	margin-top: 1px;
}

footer .badges > div {
	float: left;
	margin-right: 20px;
}

footer .badges {
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	color: #eeeeee;
	background-color: red;
	width: 650px;
}

/* Box */

.left-header {
	border-style: solid;
	border-width: 0px 4px 0px 14px;
	-moz-border-image: url(img/title-left.png) 0 4 0 14 stretch;
	-webkit-border-image: url(img/title-left.png) 0 4 0 14 stretch;
	-o-border-image: url(img/title-left.png) 0 4 0 14 stretch;
	border-image: url(img/title-left.png) 0 4 0 14 fill stretch;
	text-align: right;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding-right: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
	-webkit-margin: 0;
}

.left-header-blue {
	border-style: solid;
	border-width: 0px 4px 0px 14px;
	-moz-border-image: url(img/title-left-blue.png) 0 4 0 14 stretch;
	-webkit-border-image: url(img/title-left-blue.png) 0 4 0 14 stretch;
	-o-border-image: url(img/title-left-blue.png) 0 4 0 14 stretch;
	border-image: url(img/title-left-blue.png) 0 4 0 14 fill stretch;
	text-align: right;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding-right: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
	-webkit-margin: 0;
}

.right-header {
	border-style: solid;
	border-width: 0px 14px 0px 4px;
	-moz-border-image: url(img/title-right.png) 0 14 0 4 stretch;
	-webkit-border-image: url(img/title-right.png) 0 14 0 4 stretch;
	-o-border-image: url(img/title-right.png) 0 14 0 4 stretch;
	border-image: url(img/title-right.png) 0 14 0 4 fill stretch;
	text-align: left;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding-left: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
	-webkit-margin: 0;
}

.right-header #link_register {
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
}

.right-header #link_register:hover {
	text-decoration: none;
}

.right-header-blue {
	border-style: solid;
	border-width: 0px 14px 0px 4px;
	-moz-border-image: url(img/title-right-blue.png) 0 14 0 4 stretch;
	-webkit-border-image: url(img/title-right-blue.png) 0 14 0 4 stretch;
	-o-border-image: url(img/title-right-blue.png) 0 14 0 4 stretch;
	border-image: url(img/title-right-blue.png) 0 14 0 4 fill stretch;
	text-align: left;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding-left: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
	-webkit-margin: 0;
}

.section-title {
	height: 40px;
	line-height: 40px;
	margin: 0 0 10px 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
	-webkit-margin: 0;
	width: 100%;
}

.section-title a {
	color: #ffffff;
}

.section-title > div {
	margin: 0;
	height: 40px;
}

.section-title-left-red > div {
	background-image: url(img/title-left.png);
	background-repeat: no-repeat;
}

.section-title-left-red > div:nth-child(3) {
	background-color: #ba0000;
}

.section-title-left-blue > div {
	background-image: url(img/title-left-blue.png);
	background-repeat: no-repeat;
}

.section-title-left-blue > div:nth-child(3) {
	background-color: #376484;
}

.section-title-left {
	text-align: right;
}

.section-title-left > div:nth-child(1) {
	float: left;
	width: 16px;
	background-position: left top;
}

.section-title-left > div:nth-child(2) {
	width: 5px;
	float: right;
	background-position: right top;
}

.section-title-left > div:nth-child(3) {
	margin-left: 16px;
	margin-right: 5px;
	background-color: #ba0000;
	padding-right: 10px;
}

.section-title-right-red > div {
	background-image: url(img/title-right.png);
	background-repeat: no-repeat;
}

.section-title-right-blue > div {
	background-image: url(img/title-right-blue.png);
	background-repeat: no-repeat;
}

.section-title-right-red > div:nth-child(3) {
	background-color: #ba0000;
}

.section-title-right-blue > div:nth-child(3) {
	background-color: #376484;
}

.section-title-right {
	text-align: left;
}

.section-title-right > div:nth-child(1) {
	float: right;
	width: 16px;
	background-position: right top;
}

.section-title-right > div:nth-child(2) {
	width: 5px;
	float: left;
	background-position: left top;
}

.section-title-right > div:nth-child(3) {
	margin-right: 16px;
	margin-left: 5px;
	padding-left: 10px;
}

/* Common */

button {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	overflow: visible;
	border-style: none;
	font-size: 11pt;
	color: #ffffff;
	height: 32px;
	line-height: 22px;
	padding: 4px 20px;
	margin: 1px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #f7941d;
	background: -moz-linear-gradient(bottom,  #f7941d 0%, #fdc689 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#f7941d), color-stop(100%,#fdc689));
	background: -webkit-linear-gradient(top,  #f7941d 0%,#fdc689 100%);
	background: -o-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: -ms-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: linear-gradient(to top,  #f7941d 0%,#fdc689 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#fdc689',GradientType=0 );
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

button.gray {
	background: #676767;
	background: -moz-linear-gradient(bottom,  #676767 0%, #989898 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#676767), color-stop(100%,#989898));
	background: -webkit-linear-gradient(top,  #676767 0%,#989898 100%);
	background: -o-linear-gradient(bottom,  #676767 0%,#989898 100%);
	background: -ms-linear-gradient(bottom,  #676767 0%,#989898 100%);
	background: linear-gradient(to top,  #676767 0%,#989898 100%);
}

button:hover {
	color: #989898;
	border: 0;
}

button:focus {
	outline: 0 !important;
}

button:active {
	top: 1px;
	border: 0;
}

button.mfp-arrow:active {
	top: 50.1%;
}

/* Product box */

.product-box {
	width: 190px;
	margin-top: 20px;
	margin-right: 25px;
	margin-bottom: 30px;
	height: 270px;
	position: relative;
	float: left;
	padding-bottom: 30px;
	overflow: hidden;
}

.product-box h1 {
	margin: 0;
	padding: 0;
}

.product-box div.product-thumb {
	text-align: center;
	position: relative;
}

.product-box img.product-thumb {
	text-align: center;
	max-width: 100%;
	max-height: 120px;
	margin: 0 auto 15px auto;
	display: block;
	position: relative;
}

.product-box img.product-thumb:active {
	top: 1px;
}

.product-box a.product-title {
	color: #0072bc;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
}

.product-box a.product-title:hover {
	text-decoration: underline;
}

.product-box .product-description {
	margin: 5px 0;
	text-align: left;
}

.product-box-hor {
	overflow: hidden;
	padding-left: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.product-box-hor h1 {
	margin: 0;
	padding: 0;
}

.product-box-hor > div {
	float: left;
}

.product-box-hor > div:last-child {
	width: 210px;
}

.product-box-hor a {
	color: #0072bc;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	line-height: 10px;
}

.product-box-hor a:hover {
	text-decoration: underline;
}

.product-box-hor .product-description {
	margin: 5px 0;
	text-align: justify;
}

.product-box-hor div.thumb {
	float: left;
	width: 80px;
	margin-right: 10px;
}

.product-box-hor img.thumb {
	max-width: 100%;
	margin-right: 10px;
}

.product-box-hor img.thumb:hover {
	top: 1px;
}

.product-box-hor div.buy {
	position: relative;
	margin-top: 40px;
}

/*.product-box .thumb img:hover {
 border: solid 1px rgba(64, 147, 202, 0.8);
 cursor: -moz-zoom-in;
 cursor: -webkit-zoom-in;
 cursor: zoom-in;
 }*/

div.buy {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #eeeeee;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 34px;
}

div.buy > span {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13pt;
	text-decoration: none;
	color: #ba0000;
	position: absolute;
	left: 8px;
	top: 4px;
}

div.buy > button {
	position: absolute;
	right: 0px;
	padding: 4px 10px;
}

/* Product navigation */

.content-nav {
	border-style: solid;
	border-width: 0px 14px 0px 4px;
	-moz-border-image: url(img/title-right-blue.png) 0 14 0 4 stretch;
	-webkit-border-image: url(img/title-right-blue.png) 0 14 0 4 stretch;
	-o-border-image: url(img/title-right-blue.png) 0 14 0 4 stretch;
	border-image: url(img/title-right-blue.png) 0 14 0 4 fill stretch;
	text-align: left;
	height: 40px;
	line-height: 40px;
	margin: 0;
	-webkit-margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
}

.content-nav a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	opacity: 0.9;
	text-decoration: none;
}

.content-nav a:hover {
	color: #fbaf5d;
}

.content-nav .content-nav-active {
	color: #fbaf5d;
}

.content-nav ul {
	margin-left: -45px;
}

.content-nav li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.content-nav li:first-child {
	border-style: solid;
	border-width: 0px 14px 0px 4px;
	-moz-border-image: url(img/title-right.png) 0 14 0 4 stretch;
	-webkit-border-image: url(img/title-right.png) 0 14 0 4 stretch;
	-o-border-image: url(img/title-right.png) 0 14 0 4 stretch;
	border-image: url(img/title-right.png) 0 14 0 4 fill stretch;
}

.content-nav li:not(:first-child) {
	margin: 4px 0px;
	height: 32px;
	line-height: 32px;
}

.content-nav li:not(:first-child):not(:last-child) {
	border: dotted 2px #cccccc;
	border-width: 0px 2px 0px 0px;
}

.content-nav-ie {
	height: 40px;
	margin-top: 15px;
	border-left-width: 0;
	border-right-width: 0;
}

.content-nav-ie > div {
	margin: 0;
	height: 100%;
}

.content-nav-ie > div:nth-child(1) {
	float: left;
	width: 5px;
	background-position: left top;
	background-image: url(img/title-right.png);
}

.content-nav-ie > div:nth-child(2) {
	width: 16px;
	float: right;
	background-position: right top;
	background-image: url(img/title-right-blue.png);
}

.content-nav-ie > div:nth-child(3) {
	margin-left: 5px;
	margin-right: 16px;
	background-color: #376484;
	width: 98%;
}

.content-nav-ie li:first-child {
	padding: 0;
	margin: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.content-nav-ie .first-nav a > div > div:nth-child(1) {
	height: 40px;
	width: 16px;
	float: right;
	background-position: right top;
	background-image: url(img/title-right.png);
}

.content-nav-ie .first-nav a > div > div:nth-child(2) {
	height: 40px;
	margin-right: 16px;
	background-color: #ba0000;
	padding-left: 20px;
	padding-right: 20px;
}

/* Post preview */

.post-preview {
	width: 300px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 40px;
}

.post-preview h1 {
	margin: 10px 0 15px 0;
	padding: 0;
}

.post-preview a {
	color: #0072bc;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
}

.post-preview a:hover {
	text-decoration: underline;
}

.post-preview > p {
	margin: 0px;
}

/* Home */

#home-content {
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 10px;
}

#home-promotion {
	float: left;
	margin-right: 30px;
	width: 320px;
}

#home-promotion h1 {
	margin: 0;
	padding: 0;
}

#home-promotion > div {
	width: 306px;
	position: absolute;
	height: 320px;
	overflow: hidden;
	margin-left: 15px;
}

#home-promotion img {
	margin-left: 0px;
}

#home-promotion #promotion-title {
	color: #0072bc;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;
	text-decoration: none;
}

#home-promotion #promotion-title:hover {
	text-decoration: underline;
}

#home-promotion a.button {
	position: absolute;
	bottom: 0;
	right: 0;
}

#home-center {
	float: left;
	width: 650px;
	min-height: 380px;
}

#home-news {
	padding-left: 14px;
	clear: left;
}

#home-news article {
	float: left;
}

/* Products */

#products-content {
	width: 980px;
	padding-left: 34px;
	padding-top: 10px;
	margin-bottom: 40px;
	color: #464646;
}

#hot-product {
	float: left;
	width: 300px;
	margin-bottom: 40px;
}

#hot-product h2 {
	color: #0072bc;
	margin-bottom: 0;
	font-size: 18pt;
}

#hot-product h3 {
	margin-top: 5px;
	padding: 0;
	color: #464646;
	font-size: 12pt;
	font-weight: normal;
}

#hot-product p {
	text-align: justify;
}

#hot-product #thumb {
	display: block;
	overflow: hidden;
	width: 300px;
	text-align: center;
}

#hot-product #thumb img {
	max-width: 100%;
}

#products-center {
	float: left;
	margin-left: 35px;
	width: 645px;
	margin-bottom: 40px;
}

#products-center hr {
	clear: left;
}

#products-center hr:last-of-type {
	display: none;
}

.pagination {
	clear: left;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	text-decoration: none;
	color: #222222;
}

#products-type {
	padding-top: 30px;
}

#products-type h2 {
	margin-bottom: 0px;
	font-size: 12pt;
	color: #0072bc;
}

#products-type > div.column {
	float: left;
	margin: 0px 20px 20px 0px;
	min-height: 200px;
}

#products-type > div ul {
	margin: 0;
	min-width: 150px;
	padding: 0 0 0 5px;
}

#products-type li {
	list-style-type: none;
	margin: 5px 0px;
}

#products-type li label {
	display: inline-block;
	min-width: 200px;
}

#products-type li label:hover {
	text-decoration: underline;
}

#products-type .view {
	clear: left;
	position: relative;
	margin-top: 20px;
	height: 30px;
}

#products-type .view button {
	min-width: 100px;
}

#products-type .view > button:first-of-type {
	position: absolute;
	left: 0;
}

#products-type .view > button:last-of-type {
	position: absolute;
	right: 0;
}

/* Error 404 */
#error-content {
	width: 960px;
	padding-left: 14px;
}

#error-content #detail h1 {
	color: #ba0000;
}

#error-content #detail h1:not(:first-child) {
	margin-top: 50px;
	color: #376484;
}

#error-content #detail p, #error-content #detail a {
	font-size: 16pt;
}

#error-content #suggestion {
	margin-top: 60px;
}

.mfp-title {
	text-align: left;
	line-height: 20px;
	color: #ffffff;
	word-wrap: break-word;
	padding-right: 36px;
	font-size: 14pt;
	margin: 10px 0;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

/* Product detail */

#product-detail {
	width: 960px;
	padding-left: 14px;
}

#product-detail #left {
	float: left;
	width: 300px;
}

#product-detail #left h2 {
	color: #464646;
	margin-bottom: 0;
	font-size: 18pt;
}

#product-detail #left h3 {
	margin-top: 5px;
	padding: 0;
	color: #464646;
	font-size: 12pt;
	font-weight: normal;
}

#product-detail p.thumb {
	text-align: center;
}

/*#product-detail img.thumb {
	max-width: 100%;
}*/

#product-detail #left #brief .buy {
	position: relative;
	width: 95%;
	margin: 30px 10px 20px 10px;
}

#product-detail #suggestions {
	margin-left: -14px;
}

#product-detail #suggestions h1 {
	margin-bottom: 15px;
}

#product-detail #suggestions hr:last-of-type {
	display: none;
}

#product-detail #center {
	float: left;
	margin: 5px 14px 40px 35px;
	width: 610px;
	text-align: justify;
}

/* News */

#news-content {
	padding-bottom: 40px;
}

#news-content #news-list {
	float: left;
	width: 650px;
	min-height: 450px;
	padding-bottom: 40px;
}

#news-content #news-list article {
	color: #464646;
	margin-top: 30px;
	padding-bottom: 25px;
}

#news-content #news-list article h1 {
	color: #0072bc;
	font-size: 16pt;
	margin: 0;
}

#news-content #news-list article h5 {
	font-size: 10.5pt;
	font-weight: normal;
	margin: 0 0 15px 0;
}

#news-content #news-list article img {
	max-width: 100%;
	margin-bottom: 10px;
}

#news-content #news-list hr:last-of-type {
	display: none;
}

.news-view {
	text-align: right;
}

.news-view a {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	text-decoration: none;
	border-style: none;
	color: #ffffff;
	padding: 6px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	height: 30px;
	line-height: 20px;
	border-radius: 10px;
	background: #f7941d;
	background: -moz-linear-gradient(bottom,  #f7941d 0%, #fdc689 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#f7941d), color-stop(100%,#fdc689));
	background: -webkit-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: -o-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: -ms-linear-gradient(bottom,  #f7941d 0%,#fdc689 100%);
	background: linear-gradient(to top,  #f7941d 0%,#fdc689 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#fdc689',GradientType=0 );
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.news-view a:hover {
	opacity: 0.8;
}

#news-content #news-focus h1 {
	margin-bottom: 15px;
}

#news-content #news-focus {
	float: left;
	margin-left: 30px;
	width: 320px;
	margin-top: 25px;
}

#news-content #news-focus hr:last-of-type {
	display: none;
}

#news-content #news-focus article {
	margin-right: 14px;
	margin-bottom: 20px;
	padding-left: 3px;
}

#news-content #news-focus article > a {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Post detail */

#post-detail {
	float: left;
	width: 650px;
	min-height: 450px;
	padding-top: 15px;
	padding-bottom: 40px;
}

#post-detail article h1 {
	color: #0072bc;
	font-size: 20pt;
	margin: 10px 0 0 0;
}

#post-detail article h5 {
	font-size: 10.5pt;
	font-weight: normal;
	margin: 0 0 15px 0;
}

#related-content {
	float: left;
	margin-left: 30px;
	width: 320px;
	margin-top: 25px;
}

#related-content #related-post {

}

#related-content #related-post hr:last-of-type {
	display: none;
}

#related-content #related-post article {
	margin-right: 14px;
	margin-bottom: 20px;
	padding-left: 3px;
}

#related-content #related-post article > a {
	margin-top: 5px;
	margin-bottom: 5px;
}

#related-content #related-product {
	margin-bottom: 25px;
}

#related-content #related-product h1 {
	margin-bottom: 15px;
}

#related-content #related-product hr:last-of-type {
	display: none;
}

#related-content #related-product div.buy {
}

/* Cart */

.popup {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	text-align: left;
	max-width: 800px;
	margin: 40px auto;
	position: relative;
	font-size: 10.5pt;
}

.popup #empty-cart {
	display: none;
	height: 150px;
	text-align: center;
}

.popup #empty-cart span {
	margin: auto;
	display: inline-block;
	margin-top: 50px;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
	color: #0072bc;
}

.popup h1 {
	margin-bottom: 15px;
}

.popup #cart-content div:last-of-type {
	margin-top: 25px;
	position: relative;
	height: 40px;
}

.popup #cart-content button {
	z-index: 1000;
}

.simpleCart_items .item-thumb img {
	width: 65px;
}

.simpleCart_items table {
	width: 790px;
	border-spacing: 0;
	margin-top: 15px;
}

.simpleCart_items td, .simpleCart_items th {
	padding: 4px 5px;
	border-bottom: 1px dotted rgba(70, 70, 70, 0.5);
}

.simpleCart_items td a {
	color: #0072bc;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
}

.simpleCart_items td a:hover {
	text-decoration: underline;
}

.simpleCart_items td.item-cell {
	width: 20px;
}

.simpleCart_items td.item-thumb {
	width: 70px;
	text-align: center;
}

.simpleCart_items td.item-price {
	text-align: right;
	padding-right: 15px;
	width: 60px;
	color: #ba0000;
	font-weight: bold;
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
}

.simpleCart_items td.item-total {
	text-align: right;
	width: 80px;
	color: #464646;
	font-weight: bold;
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
}

.simpleCart_items td.item-quantity {
	text-align: right;
	width: 80px;
}

.simpleCart_items td.item-quantity input {
	text-align: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #464646;
	padding: 2px;
	background-color: #e1e1e1;
	color: #464646;
	height: 25px;
	width: 80px;
}

.simpleCart_items tr.headerRow {
	font-size: 11pt;
	margin-bottom: 20px;
	background-color: #eeeeee;
	height: 40px;
	color: #464646;
	font-size: 11pt;
}

.popup #total-container {
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	height: 40px;
	background-color: #eeeeee;
	line-height: 40px;
	width: 790px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	color: #464646;
}

.popup #total-container span {
	padding-right: 25px;
}

.popup #total-container span.simpleCart_total {
	color: #ba0000;
	padding-right: 5px;
}

.popup button.simpleCart_empty {
	position: absolute;
	left: 0;
}

.popup button.simpleCart_empty:hover {
	color: #fdc587;
}

.popup #cart-checkout {
	position: absolute;
	right: 10px;
}

.popup #continue {
	position: relative;
	margin: 0px auto;
	padding-top: 15px;
}

.popup #continue a {
	text-decoration: underline;
	color: #0072bc;
	font-weight: bold;
	font-size: 11pt;
}

.popup #continue a:hover {
	text-decoration: none;
}

.popup #continue span {
	font-size: 10pt;
}

.popup .column {
	float: left;
}

.popup #message {
	font-style: italic;
	font-weight: bold;
	font-size: 11pt;
	color: #090;
	display: none;
}

.popup #buttons {
	text-align: center;
}

.popup hr {
	margin-top: 20px;
}

.popup #help {
	padding: 0;
	margin: 10px 0 5px 0;
}

.popup #help > a {
	padding: 0;
	margin: 0 10px 0 10px;
}

.popup #help a {
	text-decoration: underline;
	color: #0072bc;
	font-weight: bold;
	font-size: 10pt;
}

.popup #help a:hover {
	text-decoration: none;
}

.popup .hint {
	font-size: 10pt;
	font-style: italic;
}

.mfp-close {
	margin-right: -15px;
	margin-top: -15px;
	opacity: 1;
	width: 33px;
	height: 33px;
}

/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.mfp-zoom-in {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}
/* animate in */
.mfp-zoom-in.mfp-ready {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.mfp-zoom-in.mfp-removing {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}
/* Dark overlay, start state */
.mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

*[hidden] {
	display: none;
}

/* Login/Register form */

form {
	width: 400px;
	margin: 0 auto;
	text-align: left;
}

form h2 {
	color: #0072bc;
	font-size: 18pt;
	margin: 20px 0 10px 0;
}

form label {
	font-size: 14pt;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #464646;
}

form input, form select, form textarea, .form-input {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #464646;
	background-color: #e1e1e1;
	color: #464646;
	width: 100%;
	max-width: 100%;
	height: 35px;
}

form textarea {
	height: 140px;
}

form .buttons {
	margin-top: 30px;
	text-align: right
}

form .description {
	font-size: 10pt;
	font-style: italic;
}

form label.error, form ul.errorlist {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 11pt;
	font-style: italic;
	color: #ba0000;
}

form ul.errorlist {
	margin: 0;
	padding: 0;
}

form ul.errorlist li {
	list-style-type: none;
	margin: 0;
}

form label.error:before, form ul.errorlist li:before {
	content: ">>> ";
}

form input.valid {
	background-color: #e1e1e1;
	color: #004600;
}

#Recap input {
	height: auto;
}

/* Checkout page */

#checkout-content {
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
}

#checkout-cart {
	float: left;
	margin-right: 30px;
	width: 320px;
}

#checkout-info {
	float: left;
	width: 650px;
	margin-bottom: 30px;
}

#checkout-cart .simpleCart_items table {
	width: 97%;
	margin-left: 10px;
}

#checkout-cart .simpleCart_items .headerRow {
	height: 30px;
}

#checkout-cart .simpleCart_items .item-quantity {
	width: 20px;
}

#checkout-cart #total-container {
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	height: 40px;
	background-color: #eeeeee;
	line-height: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	color: #464646;
}

#checkout-cart #total-container span {
	padding-right: 25px;
}

#checkout-cart #total-container span.simpleCart_total {
	color: #ba0000;
	padding-right: 5px;
}

#checkout-cart div:last-of-type {
	position: relative;
}

#checkout-cart div:last-of-type button {
	position: absolute;
	right: 0px;
	top: 20px;
}

/* ORDER DETAIL */

#order-content {
	padding-top: 20px;
	padding-bottom: 30px;
}

#order-content #order-info {
	float: left;
	margin-right: 100px;
	width: 320px;
}

#order-full-info {
	margin-right: 100px;
	width: 960px;
}

#order-full-info > div:first-child {
	float: left;
	width: 240px;
	margin-right: 30px;
}

#order-full-info > div:last-child {
	float: left;
	width: 690px;
}

.order-detail {
	float: left;
	width: 500px;
	margin-bottom: 30px;
}

.order-field-name {
	color: #0072bc;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14pt;
	margin-right: 10px;
}

.order-transfer-link {
	color: #0072bc;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	margin-right: 10px;
	font-weight: bold;
	text-decoration:underline;
}

.order-transfer-link:hover {
	color: #0072bc;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	margin-right: 10px;
	font-weight: bold;
	text-decoration:none;
	font-style:italic;
}

.card-field-name {
	color: #0072bc;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14pt;
	margin-right: 10px;
}

.card-field-description {
	font-size: 10pt;
	font-family: 'Open Sans', sans-serif;
	color: #646464;
	font-style: italic;
}

.money {
	text-align: right;
	padding-right: 15px;
	width: 60px;
	color: #ba0000;
	font-weight: bold;
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
}

.total-money {
	color: #fbaf5d;
	font-weight: bold;
	font-size: 14pt;
	font-family: 'Open Sans Condensed', sans-serif;
}

#payment-info input[type=radio] {
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

label.order-radio {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14pt;
	color: #464646;
}

#payment-info p:not(:first-child) {
	margin: 40px 0;
}

.order-detail table {
	width: 100%;
	border-spacing: 0;
	margin-top: 5px;
}

.order-detail .headerRow {
	font-size: 11pt;
	margin-bottom: 20px;
	background-color: #eeeeee;
	color: #464646;
	font-size: 11pt;
	height: 30px;
	border-bottom: 1px dotted rgba(70, 70, 70, 0.5);
}

.order-detail .headerRow th {
	border-bottom: 1px dotted rgba(70, 70, 70, 0.5);
}

.order-detail tr {
	height: 50px;
}

.order-detail .item-quantity {
	width: 20px;
	text-align: right;
}

.order-detail .item-total {
	text-align: right;
	width: 80px;
	color: #464646;
	font-weight: bold;
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
}

.order-detail .item-download {
	text-align: center;
}

.order-detail #total-container {
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	height: 40px;
	background-color: #eeeeee;
	line-height: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	color: #464646;
	border-top: 1px dotted rgba(70, 70, 70, 0.5);
}

.order-detail #total-container span.simpleCart_total {
	color: #ba0000;
	padding-right: 5px;
}

.order-detail #total-container span {
	padding-right: 20px;
}

.order-detail #total-container .money {
	padding-right: 0;
}

#payment-info .money {
	font-size: 15pt;
}

#payment-info div.payment-detail:not(:first-of-type) {
display: none;
}

#payment-info div.bank-detail:not(:first-of-type) {
display: none;
}

.payment-detail form {
	margin: 0;
}

#payment-info .bank-info {
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}

#payment-info select, #payment-info input[type=text] {
	width: 80%;
	margin-right: 100px;
}

/* Customer */

#customer-content {
	width: 980px;
	margin: 30px auto;
	padding-left: 34px;
	color: #464646;
}

#customer-content .help {
	clear: left;
	margin: 30px auto 0 auto;
	width: 86%;
	font-style: italic;
}

/* Customer login */

#customer-login {
	min-height: 350px;
}

#customer-login form {
	float: left;
	width: 35%;
	padding: 0 65px;
}

#customer-login form:last-of-type {
	border-left: 1px dotted #464646;
}

#customer-login .buttons {
	position: relative;
}

#customer-login .buttons a {
	position: absolute;
	left: 0;
	top: 10px;
	color: #0072bc;
	font-weight: bold;
	text-decoration: underline;
}

#customer-login .buttons a:hover {
	text-decoration: none;
}

#customer-login .buttons button {
	position: absolute;
	right: 0;
}

/* Customer orders */

#orders {
	width: 98%;
}

table {
	max-width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;
}

table a {
	color: #0072bc;
	font-weight: bold;
	text-decoration: none;
}

table a:hover {
	text-decoration: underline;
}

table th {
	padding: 4px 5px;
	border-bottom: 1px dotted rgba(70, 70, 70, 0.5);
	background-color: #eeeeee;
	height: 25px;
	color: #464646;
}

table td {
	padding: 4px 5px;
	border-bottom: 1px dotted rgba(70, 70, 70, 0.5);
	min-height: 25px;
}

table .order-code {
	width: 100px;
	text-align: center;
}

table td.order-code {
	text-align: left;
}

table .order-total {
	width: 100px;
	text-align: center;
	font-size: 12pt;
}

table td.order-total, table td.card-amount {
	padding-right: 15px;
	text-align: right;
	color: #ba0000;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100px;
}

table .order-date {
	width: 100px;
	text-align: center;
}

table .order-status {
	width: 150px;
	text-align: center;
}

table .order-items span {
	line-height: 20px;
}

table .card-vendor {
	width: 100px;
	text-align: center;
}

table .card-serial {
	min-width: 120px;
	text-align: center;
}

table .card-number {
	min-width: 120px;
	text-align: center;
}

table .card-date {
	width: 120px;
	text-align: center;
}

table .main-item {
	font-weight: bold;
	color: #FC4A05;
}

div.empty-suggestions {
	text-align: center;
}

section.empty-suggestions {
	width: 100%;
	margin: 0;
}

a.more {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	text-decoration: none;
	color: #0072bc;
}

a.more:hover {
	text-decoration: underline;
}

/* SLIDER */

.flexslider {
	border: 4px solid #787878;
}

.flexslider .slides > li {
	max-height: 480px;
	position: relative;
}

.flex-caption {
	display: table;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
}

.flex-caption > p {
	display: table-cell;
	text-align: center;
	margin: 0;
	line-height: 35px;
	z-index: 100;
	background-color: rgba(70,70,70,0.7);
	width: 100%;
	font-family: 'Open Sans', serif;
	vertical-align: middle;
	min-height: 2em;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-shadow: 0px 0px 0 rgb(70,70,70), 1px 1px 0 rgb(-115,-115,-115), 2px 2px 1px rgba(0,0,0,1), 2px 2px 1px rgba(0,0,0,0.5), 0px 0px 1px rgba(0,0,0,.2);
}

/* Search button */

.search-container {
	position: relative
}

.search-container #text {
	position: relative;
	top: -3px;
}

.search-container #image {
	position: absolute;
	right: 10px;
	top: 5px;
}

.search-container #image:hover {
	opacity: 0.8;
}

.search-container #image:active {
	top: 6px;
}

/* FAQS */
.answer {
	display: none;
}

.faqs {
	/*text-align: justify;*/
}

.faqs h2 {
	color: #0072bc;
	cursor: pointer;
	margin-top: 30px;
}

.faqs h2:hover {
	text-decoration: underline;
}

.faqs h2.close {
	color: #464646;
}

#faqs {
	width: 620px;
	padding-left: 20px;
	padding-right: 30px;
	float: left;
}

#new-question {
	float: left;
	width: 320px;
	margin-top: 30px;
}

#new-question form {
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	width: 307px;
}

/* CONTACT */

.contact-font {
	font-family: arial, helvetica, sans-serif;
	size: 32px;
}

.contact-answer {
	display: none;
}

.contact {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.contact h2 {
	color: #0072bc;
	cursor: pointer;
	margin-top: 30px;
}

.contact h2:hover {
	text-decoration: underline;
}

.contact h2.close {
	color: #464646;
}

#contact-new-question {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
}

#contact-new-question form {
	margin-top: 20px;
	width: 90%;
}

/* product box in product detail */
.combo-product-detail {
	overflow: hidden;
	padding: 5px 0;
}

.combo-product-detail > div {
	float: left;
	width: 470px;
}

.combo-product-detail a {
	color: #0072bc;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	line-height: 10px;
}

.combo-product-detail a:hover {
	text-decoration: underline;
}

.combo-product-detail .product-description {
	margin: 5px 0;
	text-align: justify;
}

.combo-product-detail div.thumb {
	width: 120px;
	float: left;
	margin-right: 20px;
	text-align: center;
}

.combo-product-detail img.thumb {
	max-width: 100%;
}

.combo-product-detail .price, .price {
	color: #ba0000;
	font-weight: bold;
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
}

#sub-product-total-price {
	color: #ba0000;
	font-weight: bold;
	font-size: 16pt;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: line-through;
	margin-left: 20px;
}

#saving-total {
	color: #004600;
	font-weight: bold;
	font-size: 18pt;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left: 20px;
}

/*fix IE bugs*/
.recaptchatable td {
	min-height: 0;
}

#Recap {
	margin-top: -15px;
}

