{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}
{% load formatter %}

{% block title %}Quản lý đơn hàng, lịch sử mua hàng, lịch sử nạp tiền, chuyển tiền{% endblock %}

{% block main_content %}
<div id="customer-content" class="content">
  {% if request.is_IE %}
  <div class="content-nav content-nav-ie">
    <div></div>
    <div></div>
    <div class="content-nav-inner">
      <ul>
        <li class="first-nav">
          <a id="nav-customer" href="{% url "customer"%}">
          <div>
            <div></div>
            <div>
              {{ welcome }}
            </div>
          </div> </a>
        </li>
        <li>
          <a id="nav-orders" href="{% url "customer.orders" %}">Đơn hàng</a>
        </li>
        <li>
          <a id="nav-cards" href="{% url "customer.cards" %}">Thẻ đã nạp</a>
        </li>
        <li>
          <a id="nav-changepassword" href="{% url "customer.changepassword" %}">Đổi mật khẩu</a>
        </li>
        <li>
          <a id="nav-logout" href="{% url "customer.logout" %}?return={% url "customer"%}">Thoát</a>
        </li>
        <li>
          <span>Tài khoản: <span id="total-money" class="total-money"> {{ customer.total_money|format_price }}đ </span></span>
        </li>
      </ul>
    </div>
  </div>
  {% else %}
  <div class="content-nav">
    <ul>
      <li>
        <a id="nav-customer" href="{% url "customer"%}">{{ welcome }}</a>
      </li>
      <li>
        <a id="nav-orders" href="{% url "customer.orders" %}">Đơn hàng</a>
      </li>
      <li>
        <a id="nav-cards" href="{% url "customer.cards" %}">Thẻ đã nạp</a>
      </li>
      <li>
        <a id="nav-changepassword" href="{% url "password_change" %}">Đổi mật khẩu</a>
      </li>
      <li>
        <a id="nav-logout" href="{% url "customer.logout" %}?return={% url "customer"%}">Thoát</a>
      </li>
      <li>
        <span>Tài khoản: <span id="total-money" class="total-money"> {{ customer.total_money|format_price }}đ </span></span>
      </li>
    </ul>
  </div>
  {% endif %}
  <section id="main-content">
    {% block customer_content %}
    {% endblock %}
  </section>
</div>

{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-customer").toggleClass("nav-active");
		$("#nav-{{ content_active_item }}").toggleClass("content-nav-active");
	}); 
</script>

{% endblock %}

