{% extends "secom/customer/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}
{% load formatter %}

{% block title %}Thẻ đã nạp của bạn{% endblock %}

{% block customer_content %}
{% if cards %}
<table id="cards">
  <tr class="headerRow">
    <th class="card-vendor">Nhà mạng</th>
    <th class="card-serial">Số seri</th>
    <th class="card-number">Mã thẻ</th>
    <th class="card-amount">Mệnh giá</th>
    <th class="card-date">Ngày nạp</th>
  </tr>
  {% for card in cards %}
  <tr>
    <td class="card-vendor">{{ card.card_vendor }}</td>
    <td class="card-serial">{{ card.card_serial }}</td>
    <td class="card-number">{{ card.card_number }}</td>
    <td class="card-amount">{{ card.amount|format_price }}</td>
    <td class="card-date">{{ card.created_time|format_date }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<div class="empty-suggestions">
  <br/>
  <br/>
  <br/>
  <h1>Bạn chưa nạp tiền lần nào.</h1>
  <h4><a href="{% url "products" %}">Hãy tìm hiểu sản phẩm và đặt hàng!</a></h4>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  {% section_title 'Mua nhanh' request.is_IE 'right' 'blue' %}
  <section class="empty-suggestions">
    {% for p in suggestions %}
    {% product_preview p %}
    {% endfor %}
  </section>
</div>

{% endif %}
{% endblock %}

