{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}Đăng nhập hoặc đăng ký (nếu mới mua lần đầu){% endblock %}

{% block main_content %}
<div id="customer-content" class="content">
  <div id="customer-login" class="customer">
    <form method="post">
      {% csrf_token %}
      <h2>Đã có tài khoản</h2>
      <input type="hidden" name="login_type" value="login"/>
      {% if login_error %}
      <p>
        <label class="error"> {{ login_error }} </label>
      </p>
      {% endif%}
      <p>
        <label for="email">E-mail(*)</label>
        <br/>
        <input required name="email" id="login_email" type="email" placeholder="phanmem@gmail.com" value="{{ login_email }}"/>
      </p>
      <p>
        <label for="password">Mật khẩu(*)</label>
        <br/>
        <input required name="password" id="login_password" type="password"/>
      </p>
      <p class="buttons">
        <a href="{% url "password_reset" %}">Quên mật khẩu?</a>
        <button class="ladda-button" data-style="expand-left" data-loading-text="đang đăng nhập">
          <span>đăng nhập</span>
        </button>
      </p>
    </form>
    <form method="post" class="customer">
      {% csrf_token %}
      <input type="hidden" name="login_type" value="register"/>
      <h2>Chưa có tài khoản</h2>
      {% if register_error %}
      <p>
        <label class="error"> {{ register_error|safe }} </label>
      </p>
      {% endif%}
      <p>
        <label for="email">E-mail(*)</label>
        <label class="description">(nhận hóa đơn và liên lạc khi có sự cố)</label>
        <br/>
        <input required name="email" id="reg_email" type="email" placeholder="phanmem@gmail.com" value="{{ register_email }}"/>
      </p>
      <p>
        <label for="name">Tên</label>
        <label class="description">(không bắt buộc)</label>
        <br/>
        <input name="name" id="reg_name" type="text" placeholder="Nguyễn Văn A" value="{{ register_name }}"/>
      </p>
      <p>
        <label for="password">Mật khẩu(*)</label>
        <br/>
        <input required name="password" id="reg_password" type="password"/>
      </p>
      <p class="buttons">
        <button class="ladda-button" data-style="expand-left" data-loading-text="đang đăng ký tài khoản">
          <span>tạo tài khoản</span>
        </button>
      </p>
    </form>
  </div>
  <div class="help">
  	<h3>Quan trọng:</h3>  	
  	&nbsp;&nbsp;&nbsp;&nbsp;- (*) bắt buộc phải nhập
  	<br/>
  	<br/>
  	&nbsp;&nbsp;&nbsp;&nbsp;- <strong>Email</strong> của bạn chỉ được dùng để gửi đơn hàng và liên lạc xử lý sự cố 
  	<br/>
  	<br/>
  	&nbsp;&nbsp;&nbsp;&nbsp;- <strong>Tên</strong> sẽ được dùng trong email (ví dụ: Kính gửi 'tên bạn')
  </div>
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-customer").toggleClass("nav-active");

		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin",
				email : "vui lòng nhập e-mail hợp lệ",
			}
		});
		$(".ladda-button").ladda().click(function() {
			var _this = this;
			$(this.form).validate({
				submitHandler : function(form) {
					$(_this).ladda('start').find("> span:first-child").text($(_this).data('loading-text'));
					$(_this).toggleClass('gray');
					form.submit();
					$.blockUI({
						message : null,
						overlayCSS : {
							opacity : 0.1
						}
					});
				}
			});
		});
	}); 
</script>

{% endblock %}

