{% extends "secom/customer/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}
{% load formatter %}

{% block title %}Đơn hàng của bạn{% endblock %}

{% block customer_content %}

{% if orders %}

<table id="orders">
  <tr class="headerRow">
    <th class="order-code">Mã</th>
    <th class="order-items">Sản phẩm</th>
    <th class="order-total">Tổng tiền</th>
    <th class="order-date">Ngày đặt</th>
    <th class="order-status">Trạng thái</th>
  </tr>
  {% for order in orders %}
  <tr>
    <td class="order-code"><a href="{% url "order.detail" order.order_code %}">{{ order.order_code }}</a></td>
    <td class="order-items"><span>{{ order.items_html|safe }}</span></td>
    <td class="order-total">{{ order.total|format_price }}</td>
    <td class="order-date">{{ order.created_time|format_date }}</td>
    <td class="order-status">{{ order.get_status_display }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<div class="empty-suggestions">
  <br/>
  <br/>
  <br/>
  <h1>Bạn chưa có đơn hàng nào.</h1>
  <h4><a href="{% url "products" %}">Hãy tìm hiểu sản phẩm và đặt hàng!</a></h4>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  {% section_title 'Mua nhanh' request.is_IE 'right' 'blue' %}
  <section class="empty-suggestions">
    {% for p in suggestions %}
    {% product_preview p %}
    {% endfor %}
  </section>
</div>
{% endif %}

{% endblock %}
