{% extends "secom/customer/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}
{% load formatter %}

{% block title %}Đơn hàng {{ order.order_code }} {% endblock %}

{% block customer_content %} 
<div id="order-content" class="content">
  {% if order.status = 1%}
  {% include 'secom/customer/order_detail_status_1.html' %}
  {% else%}
  <section id="order-info" class="order-detail">
    <p>
      <span class="order-field-name">Mã đơn hàng</span>
      {{ order.order_code|format_code }}
    </p>
    <p>
      <span class="order-field-name">Ngày tạo</span>
      {{ order.created_time|format_date }}
    </p>
    <p>
      <span class="order-field-name">Trạng thái</span>
      {{ order.get_status_display }}
    </p>
    <span class="order-field-name">Chi tiết</span>
    <table>
      <tbody>
        <tr class="headerRow">
          <th class="item-name">Sản phẩm</th>
          <th class="item-total">Thành tiền</th>
        </tr>
        {% for i in order.orderitem_set.all %}
        {% if i.parent_item %}
        {% else %}
        <tr class="itemRow" id="cartItem_12">
          <td class="item-name"><b>{{ i.quantity }} x </b>{{ i.product.display_name }}</td>
          <td class="item-total">{{ i.price|format_price }}đ</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <div id="total-container">
      <span>TỔNG TIỀN:</span><span class="money">{{ order.total|format_price }}đ</span>
    </div>
    {% if order.status = 0 %}
    <div style="margin-top: 40px;">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="command" value="cancel">
        <button id="cancel-order" class="gray ladda-button" data-style="expand-left" data-loading-text="đang hủy">
          hủy đơn hàng
        </button>
      </form>
    </div>
    {% endif %}
  </section>
  {% if order.status = 0 %}
  <section id="payment-info" class="order-detail">
    <p>
      <div id="complete-order">
        <span>Bạn đang có đủ tiền trong tài khoản. Vui lòng chọn "thanh toán đơn hàng" để tiến hành thanh toán cho đơn hàng này.</span>
        <br/>
        <br/>
        <form method='post' style="margin: 0;">
          {% csrf_token %}
          <input type="hidden" name="command" value="pay">
          <button class="submit ladda-button" data-style="expand-left" data-loading-text="đang thanh toán">
            thanh toán đơn hàng
          </button>
        </form>
      </div>

      {% if order.total > customer.total_money %}
      <div id="not-enough-money-info">
        <span>Số tiền trong tài khoản <strong>không đủ</strong> để thanh toán cho đơn hàng này.</span>
        <br/>
        <br/>
        <span>Bạn vui lòng thực hiện <strong>chuyển khoản</strong> hoặc <strong>nạp thêm tiền</strong> dùng thẻ điện thoại!</span>
      </div>
      {% endif %}
    </p>
    {% if order.total > customer.total_money %}
    <div id="payment-type-select">
      <p>
        <span class="order-field-name">Chọn hình thức thanh toán</span>
        <br/>
        <input type="radio" id="payment-type-card" name="cart-payment-type" value="card" checked/>
        <label class="order-radio" for="payment-type-card">Thẻ cào (Mobiphone, Vinaphone, Viettel)</label>
        <br/>
        <input type="radio" id="payment-type-transfer" name="cart-payment-type" value="transfer"/>
        <label class="order-radio" for="payment-type-transfer">Chuyển khoản ngân hàng</label>
      </p>
    </div>

    <div class="payment-detail" id="payment-detail-card">
      <p>
        <form class="card-form">
          {% csrf_token %}
          <label for="card-provider" class="card-field-name">Nhà cung cấp</label>
          <br/>
          <select name="provider" id="card-provider">
            <option value="VMS">Mobiphone</option>
            <option value="VNP">Vinaphone</option>
            <option value="VTT">Viettel</option>
          </select>
          <br/>
          <br/>
          <label for="card-number" class="card-field-name">Mã thẻ(*)<span class="card-field-description"> bên dưới lớp tráng bạc</span></label>
          <br/>
          <input required id="card-number" name="number" type="text" placeholder="ví dụ: 277680567037"/>
          <br/>
          <br/>
          <label for="card-serial" class="card-field-name">Số serial(*)</label>
          <br/>
          <input required id="card-serial" name="serial" type="text" placeholder="ví dụ: 026241001456504"/>
          <br/>
          <label id="error-message" class="error">&nbsp;</label>
          <br/>
          <br/>
          <button id="pay-card" class="ladda-button" data-style="expand-left">
            <span>nạp thẻ</span>
          </button>
        </form>
      </p>
    </div>
    <div class="payment-detail" id="payment-detail-transfer">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="command" value="inform-transfer">
        <p>
          <span class="order-field-name">Chọn ngân hàng</span>
          <br/>
          <select class="form-input" name="bank" id="cart_bank">
            {% for a in bank_accounts %}
            <option value="{{ a.bank_code }}">{{ a.bank_name }}</option>
            {% endfor %}
          </select>
        </p>
        {% for a in bank_accounts %}
        <div class="bank-detail" id="bank-detail-{{ a.bank_code }}">
          <span class="order-field-name">Thông tin chuyển tiền</span>
          <br/>
          Tên tài khoản: <span class="bank-info">{{ a.account_name }}</span>
          <br/>
          Số tài khoản: <span class="bank-info">{{ a.account_number }}</span>
          <br/>
          Nội dung chuyển khoản: <span class="bank-info">PMHT|{{ order.order_code|format_code}}</span>
        </div>
        {% endfor %}
        <p>
          <span class="order-field-name">Bạn đã chuyển tiền?</span>
          <br/>
          Nếu bạn đã chuyển tiền vui lòng chọn "thông báo đã chuyển tiền" để đơn hàng được xử lý nhanh hơn.
          <br/>
          <br/>
          <a class="order-transfer-link" href="javascript:showHideTranferInfo();">Thông báo đã chuyển tiền</a>
          <br/>
          <br/>
          <span id="order-transfer-detail" style="display: none;">
            <label for="customer-transfer-code" class="card-field-name">Số tài khoản<span class="card-field-description"> chỉ nhập 4 chữ cuối</span></label>
            <br/>
            <input id="customer-transfer-code" name="bank-acc-number" type="text" placeholder="ví dụ: 1234"/>
            <br/>
            <br/>
            <label for="customer-transfer-phone" class="card-field-name">Số điện thoại</label>
            <br/>
            <input id="customer-transfer-phone" name="customer-phone" type="text" placeholder="ví dụ: 0123456789"/>
            <br/>
            <br/>
            <button class="submit ladda-button" data-style="expand-left" data-loading-text="đang thông báo"><span>thông báo đã chuyển tiền</span>
            </button>
          </span>
        </p>
      </form>
    </div>
    {% endif %}
  </section>
  {% elif order.status == 2 %}
  <section class="order-detail">
    <br/>
    <span class="order-field-name">Đơn hàng của bạn đang được xử lý.</span>
    <br/>
    <br/>
    <span class="order-field-name">Mọi thắc mắc vui lòng liên hệ hotline để được tư vấn!</span>
  </section>
  {% elif order.status == 3 %}
  <section class="order-detail">
    <br/>
    <span class="order-field-name">Đơn hàng của bạn <span style="text-decoration: underline;">đã được hủy</span> theo yêu cầu của bạn.</span>
    <br/>
    <br/>
    <span class="order-field-name">Mọi thắc mắc vui lòng liên hệ hotline để được tư vấn!</span>
  </section>
  {% elif order.status == 4 %}
  <section class="order-detail">
    <br/>
    <span class="order-field-name">Đơn hàng của bạn đang được xử lý.</span>
    <br/>
    <br/>
    <span class="order-field-name">Mọi thắc mắc vui lòng liên hệ hotline để được tư vấn!</span>
  </section>
  {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block startup_script %}
{{ block.super }}
<script>
	var order_total = {{ order.total }};
	$(function() {
		{% if order.status = 0 %}
		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin thẻ",
			}
		});
		$('#error-message').text('').hide();
		var show_error = function(message) {
			$('#error-message').html(message).show();
		};

		{% if order.total > customer.total_money %}
		$('#complete-order').hide();
		{% else %}
		$('#complete-order').show();
		{% endif%}

		$('#pay-card').ladda().click(function() {
			$('#error-message').text('').hide();
			var _this = this;
			$(_this.form).validate({
				submitHandler : function() {
					$.ajax({
						cache : false,
						url : '{% url "card" %}',
						data : $(_this.form).serialize(),
						type : 'POST',
						beforeSend : function(xhr) {
							$(_this).ladda('start').find("> span:first-child").text('đang nạp thẻ');
							$(_this).toggleClass('gray');
							$.blockUI({
								message : null,
								overlayCSS : {
									opacity : 0.1
								}
							});
						},
						success : function(result, status, xhr) {
							console.log(result);
							if (result && result.status) {
								if (result.status == 'NOK') {
									show_error(result.error);
								} else if (result.status == 'OK') {
									$('#total-money').text(result.formatted_total_money);
									if (result.total_money >= order_total) {
										$('#complete-order').show();
										$('#payment-detail-card').hide();
										$('#payment-detail-transfer').hide();
										$('#not-enough-money-info').hide();
										$('#payment-type-select').hide();
									}
									show_error('Nạp thẻ thành công. Giá trị thẻ <span class="money">' + result.amount + '</span>');
									$('#error-message').css('color', '#004600');
								}
							} else {
								show_error('Có lỗi trong quá trình nạp thẻ. Vui lòng liên hệ hotline để được tư vấn!');
							}
						},
						error : function(xhr, status, error) {
							show_error('Có lỗi ở máy chủ, không thể nạp thẻ lúc này. Vui lòng liên hệ hotline để được tư vấn!');
						},
						complete : function(xhr, status) {
							$(_this).ladda('stop').find("> span:first-child").text('nạp thẻ');
							$(_this).toggleClass('gray');
							$.unblockUI();
						}
					});
				}
			});
		});

		$("#cancel-order").ladda().click(function() {
			$(this).ladda('start').find("> span:first-child").text($(this).data('loading-text'));
			this.form.submit();
			$.blockUI({
				message : null,
				overlayCSS : {
					opacity : 0.1
				}
			});
		});

		$('#payment-detail-card').show();
		$('#payment-detail-transfer').hide();

		$('input:radio[name=cart-payment-type]').change(function() {
			// var selected = $(this).find(':checked');
			$('.payment-detail').hide();
			$('#payment-detail-' + $(this).val()).show();
		});
		$('#cart_bank').change(function() {
			var selected = $(this).find(':selected');
			$('.bank-detail').hide();
			$('#bank-detail-' + selected.val()).show();
		});

		$(".submit").ladda().click(function() {
			$(this).ladda('start').find("> span:first-child").text($(this).data('loading-text'));
			$(this).toggleClass('gray');
			this.form.submit();
			$.blockUI({
				message : null,
				overlayCSS : {
					opacity : 0.1
				}
			});
		});
  	{% endif %}
	});

  function showHideTranferInfo() {
    var orderDetail = document.getElementById("order-transfer-detail");
    if ($('#order-transfer-detail').is(':hidden'))
      orderDetail.style.display="block";
    else 
      orderDetail.style.display="none";
  } 

</script>
{% endblock %}
