{% load staticfiles %}
{% load shared_blocks %}
{% load formatter %}

<section id="order-full-info" class="order-detail">
  <div>
    <p>
      <span class="order-field-name">Mã đơn hàng</span>
      {{ order.order_code|format_code }}
    </p>
    <p>
      <span class="order-field-name">Ngày tạo</span>
      {{ order.created_time|format_date }}
    </p>
    <p>
      <span class="order-field-name">Trạng thái</span>
      {{ order.get_status_display }}
    </p>
  </div>
  <div>
    <table>
      <tbody>
        <tr class="headerRow">
          <th class="item-name">Sản phẩm</th>
          <th class="item-name">Hướng dẫn</th>
          <th class="item-download">&nbsp;</th>
          <th class="item-key">Mã đăng ký</th>
          <th class="item-total">Thành tiền</th>
        </tr>
        {% for i in order_items %}
        <tr class="itemRow" id="cartItem_12">
          <td class="item-name{% if i.product.is_combo %} main-item{% endif %}">
            {{ i.pre_pad|safe }}<b>{{ i.quantity }} x </b>{{ i.product.display_name }}</td>
          <td>
          {% if i.product.data.upgrade_guide %}  
          <a style="color: #0072bc;
          font-size: 11pt;
          font-weight: bold;
          float: left;
          text-align: left;
          text-decoration: underline;" href="{{ root }}{{ i.product.data.upgrade_guide }}">Hướng dẫn sử dụng</a>
          {% else %}
          <a style="color: #0072bc;
          font-size: 11pt;
          font-weight: bold;
          float: left;
          text-align: left;
          text-decoration: underline;" href="{{ root }}/lien-he/">Liên hệ hotline</a>
          {% endif %}
          </td>
          <td class="item-download">
          {% if i.product.is_combo == False %}
          <button class="download" onclick="document.location='{% url "product.download" i.product.name %}'">
            <span>tải về</span>
          </button>
          {% endif %}
          </td>
          <td class="item-key">{{ i.keys_as_html|safe }}</td>
          <td class="item-total">{{ i.price|format_price }}đ</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="total-container">
      <span>TỔNG TIỀN:</span><span class="money">{{ order.total|format_price }}đ</span>
    </div>
  </div>
</section>