<!doctype html>

{% load staticfiles %}
{% load formatter %}
{% load shared_blocks %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">
    <p>
      Chào <strong>{{ welcome }}</strong>,
    </p>
    <p>
      Tài khoản của bạn trên website <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}">{{ root }}</a> đã được tạo thành công!
    </p>
    <p>
      <span class="order-field-name">Email (dùng đăng nhập):</span>
      <strong>{{ customer.user.email }}</strong>
    </p>
    <p>
      <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}">phanmemhoctap.vn</a> được thiết kế rất <strong>đơn giản</strong> nhằm giúp các vị phụ huynh và các em học sinh có thể mua hàng <strong>nhanh nhất</strong> và tiện lợi nhất.
    </p>
    <p>
      Hình thức thanh toán tiện lợi đơn giản bằng cách dùng <strong>thẻ cào</strong> hoặc <strong>chuyển khoản</strong> ngân hàng.
    </p>
    <p>
      Để bắt đầu sử dụng trang web bạn có thể <span style="font-size: 11pt; font-weight: bold; text-decoration: none;">CLICK</span> vào các đường dẫn sau:
      <ul >
        <li>
          <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}/khach-hang">Trang cá nhân của bạn</a>
        </li>
        <li>
          <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}/tin-tuc/khuyen-mai">Tin khuyến mãi</a>
        </li>
        <li>
          <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}/tin-tuc/huong-dan-mua-hang">Hướng dẫn mua hàng và thanh toán</a>
        </li>
        <li>
          <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}/san-pham/danh-sach/tieng-anh">Phần mềm học tiếng Anh</a>
        </li>
        <li>
          <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}/san-pham/danh-sach/tieng-anh/lop-6/lop-7/lop-8/lop-9/">Phần mềm dành cho học sinh PTCS</a>
        </li>
        <li>
          <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}/san-pham/danh-sach/lop-10/lop-11/lop-12/">Phần mềm dành cho học sinh PTTH</a>
        </li>
        <li>
          <a style="font-family: Arial, Helvetica, sans-serif; color: #0072bc; font-size: 11pt; font-weight: bold; text-decoration: none;" href="{{ root }}/san-pham/danh-sach/ipad/iphone/android-tablet/android-phone">Phần mềm dành cho máy tính bảng và điện thoại (iPad, iPhone, Android phone/tablet)</a>
        </li>
      </ul>
    </p>
    <h1 style="text-align: left;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;">Sản phẩm tiêu biểu</h1>
    {% for product in suggestions %}
    <div style="
    float:left;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 210px;">
      <a href="{{ root }}{{ product.url }}"> <img style="
      max-height: 170px;
      margin-left: 10px;"
      src="{{ product.data.small_image }}"/></a>
      <div>
        <a style="
        color: #0072bc;
        font-size: 11pt;
        font-weight: bold;
        text-decoration: none;
        margin-top: 5px;
        line-height: 10px;"
        href="{{ root }}{{ product.url }}">{{ product.data.display_name }}</a>
        <p style="
        margin: 5px 0;
        color: #464646;
        text-align: justify">
          {{ product.data.short_description }}
        </p>
        <div style="
        position: relative;
        text-align: right;
        margin-top: 10px;">
          <strong>Giá:</strong>
          <span style="
          text-align: right;
          padding-right: 15px;
          width: 60px;
          color: #ba0000;
          font-weight: bold;
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;"> {{ product.data.price|format_price }}đ</span>
        </div>
      </div>
    </div>

    {% endfor %}

  </body>
</html>
