<!doctype html>

{% load staticfiles %}
{% load formatter %}
{% load shared_blocks %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">
    <p>Khách hàng thông báo đã chuyển tiền!</p>
    <p>Số tài khoản khách hàng:<strong>{{bankcode}}</strong></p>
    <p>Số điện thoại khách hàng:<strong>{{customerphone}}</strong></p>
    <p>
      <a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "order.detail" order.order_code %}">Xem đơn hàng</a>
    </p>
  </body>
</html>
