<!doctype html>

{% load staticfiles %}
{% load formatter %}
{% load shared_blocks %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">
    <p>
      Chào <strong>{{ welcome }}</strong>,
    </p>
    <p>
      Đơn hàng <span>{{ order.order_code|format_code }}</span> đã được hoàn tất (click <a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "order.detail" order.order_code %}">vào đây</a> để xem lại đơn hàng). Bạn vui lòng lưu lại email này để liên hệ về sau.
    </p>
    <h1 style="text-align: left;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;">Chi tiết đơn hàng</h1>
    <table style="
    width: 700px;">
      <tbody>
        <tr style="
        font-size: 11pt;
        margin-bottom: 20px;
        background-color: #eeeeee;
        height: 40px;
        color: #464646;
        font-size: 11pt;">
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Sản phẩm</th>
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Mã</th>
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Tải về</th>
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Hướng dẫn</th>
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Thành tiền</th>
        </tr>
        {% for i in order.orderitem_set.all %}
        <tr class="itemRow" id="cartItem_12">
          <td style="
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;"><b>{{ i.quantity }} x </b><a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "product.detail" i.product.name %}">{{ i.product.display_name }}</a></td>
          <td>{{ i.keys_as_html|safe }}</td>
          <td>
          {% if i.product.is_combo == False %}	
          <a style="color: #0072bc;
          font-size: 9pt;
          font-weight: bold;
          float: right;
          text-decoration: underline;" href="{{ root }}{% url "product.download" i.product.name %}">Tải về</a>
          {% endif %}
          </td>
          <td>
          {% if i.product.data.upgrade_guide %}  
          <a style="color: #0072bc;
          font-size: 9pt;
          font-weight: bold;
          float: right;
          text-align: right;
          text-decoration: underline;" href="{{ root }}{{ i.product.data.upgrade_guide }}">Hướng dẫn sử dụng</a>
          {% else %}
          <a style="color: #0072bc;
          font-size: 9pt;
          font-weight: bold;
          float: right;
          text-align: right;
          text-decoration: underline;" href="{{ root }}/lien-he/">Liên hệ hotline</a>
          {% endif %}
          </td>
          <td style="
          text-align: right;
          min-width: 120px;
          color: #464646;
          font-weight: bold;
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;">{{ i.price|format_price }}đ</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
    background-color: #eeeeee;
    line-height: 40px;
    width: 700px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12pt;
    color: #464646;
    border-top: 1px dotted rgba(70, 70, 70, 0.5);">
      <span style="padding-right: 25px;">TỔNG TIỀN:</span>
      <span style="
      text-align: right;
      width: 60px;
      color: #ba0000;
      font-weight: bold;
      font-size: 12pt;
      font-family: 'Open Sans Condensed', sans-serif;">{{ order.total|format_price }}đ</span>
    </div>

    <h1 style="text-align: left;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;">Sản phẩm trong đơn hàng thường được mua chung với:</h1>
    {% for product in suggestions %}
    <div style="
    float:left;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 210px;">
      <a href="{{ root }}{{ product.url }}"> <img style="
      max-height: 170px;
      margin-left: 10px;"
      src="{{ product.data.small_image }}"/></a>
      <div>
        <a style="
        color: #0072bc;
        font-size: 11pt;
        font-weight: bold;
        text-decoration: none;
        margin-top: 5px;
        line-height: 10px;"
        href="{{ root }}{{ product.url }}">{{ product.data.display_name }}</a>
        <p style="
        margin: 5px 0;
        color: #464646;
        text-align: justify">
          {{ product.data.short_description }}
        </p>
        <div style="
        position: relative;
        text-align: right;
        margin-top: 10px;">
          <strong>Giá:</strong>
          <span style="
          text-align: right;
          padding-right: 15px;
          width: 60px;
          color: #ba0000;
          font-weight: bold;
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;"> {{ product.data.price|format_price }}đ</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
