<!doctype html>

{% load staticfiles %}
{% load formatter %}
{% load shared_blocks %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">
    <p>
      Không đủ key để hoàn tất đơn hàng!
    </p>
    <p>
      <a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "order.detail" order.order_code %}">Xem đơn hàng</a>
    </p>
    <h1 style="text-align: left;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;">Chi tiết đơn hàng</h1>
    <table style="
    width: 700px;">
      <tbody>
        <tr style="
        font-size: 11pt;
        margin-bottom: 20px;
        background-color: #eeeeee;
        height: 40px;
        color: #464646;
        font-size: 11pt;">
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Sản phẩm</th>
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Mã</th>
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Đề nghị</th>
        </tr>
        {% for i in order.orderitem_set.all %}
        <tr class="itemRow" id="cartItem_12">
          <td style="
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;"><b>{{ i.quantity }} x </b><a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "product.detail" i.product.name %}">{{ i.product.display_name }}</a></td>
          <td> {% if i.product_key %}
          {{ i.product_key.key }}
          {% else %} <span style="color: #ba0000">(Thiếu key)</span> {% endif %} </td>
          <td style="text-align: center"><a style="color: #0072bc;
          font-size: 11pt;
          font-weight: bold;
          text-decoration: none;" href="{{ root }}{% url "import.keys" %}?p={{ i.product.name }}">thêm mã</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
