<!doctype html>

{% load staticfiles %}
{% load formatter %}
{% load shared_blocks %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">
    <p>
      Chào <strong>{{ welcome }}</strong>,
    </p>
    <p>
      Đơn hàng <span>{{ order.order_code|format_code }}</span> đã được đặt thành công (click <a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "order.detail" order.order_code %}">vào đây</a> để xem đơn hàng trên trang web), thông tin chi tiết như sau:
    </p>
    <table style="
    width: 700px;">
      <tbody>
        <tr style="
        font-size: 11pt;
        margin-bottom: 20px;
        background-color: #eeeeee;
        height: 40px;
        color: #464646;
        font-size: 11pt;">
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Sản phẩm</th>
          <th style="border-bottom: 1px dotted rgba(70, 70, 70, 0.5);">Thành tiền</th>
        </tr>
        {% for i in order.orderitem_set.all %}
        <tr class="itemRow" id="cartItem_12">
          <td style="
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;"><b>{{ i.quantity }} x </b><a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "product.detail" i.product.name %}">{{ i.product.display_name }}</a></td>
          <td style="
          text-align: right;
          min-width: 120px;
          color: #464646;
          font-weight: bold;
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;">{{ i.price|format_price }}đ</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
    background-color: #eeeeee;
    line-height: 40px;
    width: 700px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12pt;
    color: #464646;
    border-top: 1px dotted rgba(70, 70, 70, 0.5);">
      <span style="padding-right: 25px;">TỔNG TIỀN:</span>
      <span style="
      text-align: right;
      width: 60px;
      color: #ba0000;
      font-weight: bold;
      font-size: 12pt;
      font-family: 'Open Sans Condensed', sans-serif;">{{ order.total|format_price }}đ</span>
    </div>

    <h1 style="text-align: left;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;">Thanh toán đơn hàng</h1>
    <p>
      Để tiến hành thanh toán, <strong>{{ welcome }}</strong> vui lòng chọn một trong các hình thức thanh toán sau và đọc kỹ các câu hỏi thường gặp trước khi thanh toán.
    </p>
    <h2 style="
    font-family: 'Open Sans Condensed', sans-serif;
    color: #666666; margin-top:30px; margin-bottom:10px;">Thẻ cào</h2>

    <h4 style="
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0072bc; margin: 0;">Thẻ cào của nhà cung cấp nào được chấp nhận?</h4>
    <span>Thẻ cào của <b>Mobiphone</b>, <b>Vinaphone</b> và <b>Viettel</b> đều dùng được.</span>

    <h4 style="
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0072bc; margin: 10px 0 0 0;">Nên dùng thẻ có mệnh giá nào?</h4>
    <span>Bạn có thể nạp thẻ <b>nhiều lần</b>, mệnh giá thẻ sẽ được <b>cộng dồn</b> vào tài khoản của bạn. <a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url 'customer.cards' %}">Xem tài khoản còn bao nhiêu tiền</a></span>

    <h4 style="
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0072bc; margin: 10px 0 0 0;">Tôi muốn nạp tiền ngay bây giờ?</h4>
    <span>Vui lòng click <a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "order.detail" order.order_code %}?loai=the">vào đây</a>.</span>

    <h2 style="
    margin-top: 30px; margin-bottom:10px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #666666;">Chuyển khoản</h2>

    <h4 style="
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0072bc; margin: 10px 0 0 0;">Có thể chuyển khoản sử dụng ngân hàng nào?</h4>
    <span>Danh sách ngân hàng: <b>ACB, Vietcombank, Đông Á, Agribank, Viettin</b></span>

    <h4 style="
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0072bc; margin: 10px 0 0 0;">Tôi muốn chuyển khoản ngay bây giờ?</h4>
    <span>Vui lòng click <a style="color: #0072bc; font-weight: bold;" href="{{ root }}{% url "order.detail" order.order_code %}?loai=nganhang">vào đây</a>.</span>

    <h1 style="text-align: left;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;">Sản phẩm cùng loại</h1>
    {% for product in suggestions %}
    <div style="
    float:left;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 210px;">
      <a href="{{ root }}{{ product.url }}"> <img style="
      max-height: 170px;
      margin-left: 10px;"
      src="{{ product.data.small_image }}"/></a>
      <div>
        <a style="
        color: #0072bc;
        font-size: 11pt;
        font-weight: bold;
        text-decoration: none;
        margin-top: 5px;
        line-height: 10px;"
        href="{{ root }}{{ product.url }}">{{ product.data.display_name }}</a>
        <p style="
        margin: 5px 0;
        color: #464646;
        text-align: justify">
          {{ product.data.short_description }}
        </p>
        <div style="
        position: relative;
        text-align: right;
        margin-top: 10px;">
          <strong>Giá:</strong>
          <span style="
          text-align: right;
          padding-right: 15px;
          width: 60px;
          color: #ba0000;
          font-weight: bold;
          font-size: 12pt;
          font-family: 'Open Sans Condensed', sans-serif;"> {{ product.data.price|format_price }}đ</span>
        </div>
      </div>
    </div>

    {% endfor %}
  </body>
</html>
