{% extends "secom/base.html" %}

{% load staticfiles %}
{% load shared_blocks %}

{% block title %}Không tìm thấy nội dung bạn yêu cầu{% endblock %}

{% block main_content %}
<div id="error-content" class="content">
  <div id="detail">
    <h1>Lỗi!!!</h1>
    <p>
      Không thể hiển thị nội dung theo yêu cầu!
    </p>
  
    <h1>Để tiếp tục, bạn có thể</h1>
    <ul>
      <li><a href="{% url 'views.products' %}">Quay lại trang sản phẩm</a></li>
    </ul>

    <h1>Vẫn không tìm được sản phẩm bạn mong muốn?</h1>
    <p>
      Vui lòng liên hệ với chúng tôi để được tư vấn tốt hơn!
    </p>
  </div>
  <div id="suggestion">
    <h1 class="right-header-blue">Có thể bạn đang tìm ...</h1>
    {% for p in suggestions %}
    {% product_preview p %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-{{ active_nav }}").toggleClass("nav-active");
	}); 
</script>

{% endblock %}

