{% extends "secom/base.html" %}

{% block title %}Đã gửi email hướng dẫn thay đổi mật khẩu{% endblock %}

{% block main_content %}

<div class="content" style="width: 660px; font-size: 14pt;">

  <h1>Đã gửi email hướng dẫn</h1>

  <p>
    Email hướng dẫn đã được gửi vào email của bạn, có thể phải mất <strong>vài phút</strong> để email đến được hộp thư của bạn.
  </p>

  <p>
    Trong trường hợp bạn không nhận được email, vui lòng kiểm tra xem bạn đã nhập đúng email hay chưa và kiểm tra cả hộp thư <strong>Spam/Junk</strong>.
  </p>

  <br/>
  <h3> Làm gì tiếp theo? </h3>
  <ul>
    <li>
      <a class="common" href="{% url "products" %}">Tiếp tục mua</a>
    </li>
    <li>
      <a class="common" href="{$ url "news.list.type" path="khuyen-mai" %}">Xem tin khuyến mãi</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-customer").toggleClass("nav-active");
	}); 
</script>

{% endblock %}