{% extends "secom/base.html" %}

{% block title %}Thay đổi mật {% endblock %}

{% block main_content %}

<div class="content" style="width: 660px; font-size: 14pt;">

  <h1>Mật khẩu thay đổi thành công!</h1>

  <p>
    Bạn đã thay đổi mật khẩu mới thành công.
  </p>

  <br/>
  <h3> Làm gì tiếp theo? </h3>
  <ul>
    <li>
      <a class="common" href="{% url "products" %}">Tiếp tục mua</a>
    </li>
    <li>
      <a class="common" href="{$ url "news.list.type" path="khuyen-mai" %}">Xem tin khuyến mãi</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block startup_script %}

<script>
  $(function() {
    $("#nav-customer").toggleClass("nav-active");
  }); 
</script>

{% endblock %}
