{% extends "secom/base.html" %}

{% block title %}Bạn muốn thay đổi mật?{% endblock %}

{% block main_content %}

<div class="content customer">
  <form action="" method="post">
    <h2>Thay đổi mật khẩu</h2>

    <p>
      Bạn muốn thay đổi mật khẩu. Vui lòng nhập theo các thông tin bên dưới để thay đổi mật khẩu.
    </p>

    {% csrf_token %}


	<div class="form-row">
    	{{ form.old_password.errors }}
    	<label for="id_old_password" class="required">Mật khẩu hiện tại:</label>{{ form.old_password }}
	</div>
	<br/>
	<div class="form-row">
    	{{ form.new_password1.errors }}
    	<label for="id_new_password1" class="required">Mật khẩu mới:</label>{{ form.new_password1 }}
	</div>
	<br/>
	<div class="form-row">
		{{ form.new_password2.errors }}
    	<label for="id_new_password2" class="required">Xác nhận mật khẩu:</label>{{ form.new_password2 }}
	</div>

    <p class="buttons">
      <button class="ladda-button" data-style="expand-left" data-loading-text="đang lưu thay đổi">
        <span>thay mật khẩu</span>
      </button>
    </p>
  </form>
</div>

{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-customer").toggleClass("nav-active");
		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin",
				email : "vui lòng nhập e-mail hợp lệ",
			}
		});
		$(".ladda-button").ladda().click(function() {
			var _this = this;
			$(this.form).validate({
				rules : {
					email : "required"
				},
				submitHandler : function(form) {
					$(_this).ladda('start').find("> span:first-child").text($(_this).data('loading-text'));
					$(_this).toggleClass('gray');
					form.submit();
					$.blockUI({
						message : null,
						overlayCSS : {
							opacity : 0.1
						}
					});
				}
			});
		});
	}); 
</script>

{% endblock %}