{% extends "secom/base.html" %}

{% block title %}Thay đổi mật khẩu{% endblock %}

{% block main_content %}
<div class="content">
  {% if validlink %}

  <form action="" method="post">
    {% csrf_token %}

    <h2>Nhập mật khẩu mới</h2>

    <p>
      <i>Bạn vui lòng nhập mật khẩu 2 lần để đảm bảo tính chính xác!</i>
      <br/>
      <br/>
    </p>

    <p class="aligned wide">
      <label for="id_new_password1">Mật khẩu mới:</label>{{ form.new_password1 }}
      {{ form.new_password1.errors }}
    </p>
    <p class="aligned wide">
      <label for="id_new_password2">Nhập lại mật khẩu:</label>{{ form.new_password2 }}
      {{ form.new_password2.errors }}
    </p>
    <p class="buttons">
      <button class="ladda-button" data-style="expand-left" data-loading-text="đang tạo mật khẩu">
        <span>tạo mật khẩu</span>
      </button>
    </p>
  </form>

  {% else %}

  <h2>Yêu cầu thay đổi mật khẩu không hợp lệ</h2>

  <p>
    Rất có thể yêu cầu này đã hết hạn hoặc đã được sử dụng. Bạn vui lòng liện hệ hotline để được tư vấn!
  </p>

  {% endif %}
</div>
{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin",
				equalTo: "không trùng với giá trị mật khẩu ở trên",
			}
		});
		$(".ladda-button").ladda().click(function() {
			var _this = this;
			$(this.form).validate({
				rules : {
					new_password1 : "required",
					new_password2 : {
						equalTo : "#id_new_password1",
					}
				},
				submitHandler : function(form) {
					$(_this).ladda('start').find("> span:first-child").text($(_this).data('loading-text'));
					$(_this).toggleClass('gray');
					form.submit();
					$.blockUI({
						message : null,
						overlayCSS : {
							opacity : 0.1
						}
					});
				}
			});
		});
	}); 
</script>

{% endblock %}
