{% extends "secom/base.html" %}

{% block title %}Thay đổi mật khẩu thành công{% endblock %}

{% block main_content %}
<div class="content" style="width: 660px; font-size: 14pt;">

  <h1>Cập nhật mật khẩu thành công</h1>

  <p>
    Bạn đã có thể đăng nhập bình thường.
  </p>

  <p class="buttons" style="text-align: left">
    <button class="ladda-button" data-style="expand-left" data-loading-text="đang đăng nhập">
      <span>đăng nhập</span>
    </button>
  </p>
</div>
{% endblock %}

{% block startup_script %}
<script>
	$(function() {
		$("#nav-customer").toggleClass("nav-active");
		$(".ladda-button").ladda().click(function() {
			$(this).ladda('start').find("> span:first-child").text($(this).data('loading-text'));
			$(this).toggleClass('gray');
			document.location = '{{ login_url }}';
			$.blockUI({
				message : null,
				overlayCSS : {
					opacity : 0.1
				}
			});
		});
	}); 
</script>
{% endblock %}