{% extends "secom/base.html" %}

{% block title %}Quên mật khẩu?{% endblock %}

{% block main_content %}

<div class="content customer">
  <form action="" method="post">
    <h2>Làm lại mật khẩu</h2>

    <p>
      Quên mật khẩu? Nhập địa chỉ email vào ô dưới đây. Chúng tôi sẽ email cho bạn hướng dẫn cách thiết lập mật khẩu mới.
    </p>

    <p>
      <i>(Nhớ kiểm tra hộp thư Spam/Junk nếu bạn không thấy email trong hộp thư đến)</i>
    </p>

    {% csrf_token %}

    <p>
      <label for="id_email">Email:</label> {{ form.email }}
      {{ form.email.errors }}
    </p>
    <p class="buttons">
      <button class="ladda-button" data-style="expand-left" data-loading-text="đang gửi hướng dẫn">
        <span>gửi hướng dẫn</span>
      </button>
    </p>
  </form>
</div>

{% endblock %}

{% block startup_script %}

<script>
	$(function() {
		$("#nav-customer").toggleClass("nav-active");
		$.extend($.validator, {
			messages : {
				required : "vui lòng nhập thông tin",
				email : "vui lòng nhập e-mail hợp lệ",
			}
		});
		$(".ladda-button").ladda().click(function() {
			var _this = this;
			$(this.form).validate({
				rules : {
					email : "required"
				},
				submitHandler : function(form) {
					$(_this).ladda('start').find("> span:first-child").text($(_this).data('loading-text'));
					$(_this).toggleClass('gray');
					form.submit();
					$.blockUI({
						message : null,
						overlayCSS : {
							opacity : 0.1
						}
					});
				}
			});
		});
	}); 
</script>

{% endblock %}
